.cart-heading {
  font-size: 22px;
  line-height: 1;
  display: flex;
  align-items: center;
  font-weight: 600;
}
@media screen and (max-width: 1200px) {
  .cart-heading {
    font-size: 16px;
    padding-top: 10px;
  }
}
.cart-heading span.icon {
  width: 25px;
  display: flex;
  padding-bottom: 5px;
  margin-right: 14px;
}
@media screen and (max-width: 1200px) {
  .cart-heading span.icon {
    width: 20px;
    margin-right: 10px;
  }
}
@media screen and (max-width: 991px) {
  .cart-heading span.icon {
    width: 16px;
    margin-right: 5px;
  }
}
.cart-heading span.icon img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.progressbars {
  padding-top: 30px;
  padding-bottom: 50px;
}
.progressbars ul {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
}
@media screen and (max-width: 1200px) {
  .progressbars ul {
    font-size: 12px;
  }
}
.progressbars ul .cartPg {
  color: #A4AEB8;
  display: flex;
  align-items: center;
}
.progressbars ul .cartPg .ico {
  margin-right: 10px;
  padding-bottom: 5px;
}
@media screen and (max-width: 1200px) {
  .progressbars ul .cartPg .ico {
    padding-bottom: 2px;
  }
}
.progressbars ul .cartPg svg {
  fill: #A4AEB8;
}
@media screen and (max-width: 1200px) {
  .progressbars ul .cartPg svg {
    width: 8px;
  }
}
.progressbars ul .cartPg:before {
  content: "----------";
  height: 1px;
  display: flex;
  align-items: center;
  letter-spacing: 5px;
  padding-left: 5px;
  padding-right: 5px;
  color: #A4AEB8;
}
@media screen and (max-width: 991px) {
  .progressbars ul .cartPg:before {
    content: "------";
    letter-spacing: 3px;
  }
}
@media screen and (max-width: 576px) {
  .progressbars ul .cartPg:before {
    content: "----";
    letter-spacing: 1px;
  }
}
.progressbars ul .cartPg.active {
  color: #FF4E00;
}
.progressbars ul .cartPg.active svg {
  fill: #FF4E00;
}
.progressbars ul li:first-child .cartPg:before {
  display: none;
}

.cart-headers {
  padding-bottom: 25px;
}

.cart-contents {
  padding: 24px;
  padding-bottom: 40px;
  border: 1px solid #E4E9EE;
  border-radius: 8px;
  margin-bottom: 10px;
}

.sec-title {
  font-size: 35px;
  text-align: center;
  margin-bottom: 0.3em;
}
@media screen and (max-width: 1679px) {
  .sec-title {
    font-size: 30px;
  }
}
@media screen and (max-width: 1440px) {
  .sec-title {
    font-size: 28px;
  }
}
@media screen and (max-width: 1200px) {
  .sec-title {
    font-size: 24px;
  }
}
@media screen and (max-width: 991px) {
  .sec-title {
    font-size: 22px;
  }
}

.sec-subtitle {
  font-size: 16px;
  color: #949393;
  text-align: center;
  font-weight: 400;
}
@media screen and (max-width: 1679px) {
  .sec-subtitle {
    font-size: 16px;
  }
}
@media screen and (max-width: 1440px) {
  .sec-subtitle {
    font-size: 14px;
  }
}
@media screen and (max-width: 1200px) {
  .sec-subtitle {
    font-size: 13px;
  }
}
@media screen and (max-width: 991px) {
  .sec-subtitle {
    font-size: 12px;
  }
}

.sec-title-wrp {
  padding-bottom: 20px;
}
@media screen and (max-width: 1200px) {
  .sec-title-wrp {
    padding-bottom: 10px;
  }
}
@media screen and (max-width: 991px) {
  .sec-title-wrp {
    padding-bottom: 5px;
  }
}

.moreWrp {
  padding-top: 70px;
  padding-bottom: 10px;
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 1440px) {
  .moreWrp {
    padding-top: 50px;
  }
}
@media screen and (max-width: 1200px) {
  .moreWrp {
    padding-top: 30px;
  }
}

.btn-seemore {
  background-color: transparent;
  border: 1px solid;
  color: #222222;
  font-size: 16px;
  padding: 16px 20px;
  width: 100%;
  max-width: 180px;
  border-radius: 50px;
}
@media screen and (max-width: 1440px) {
  .btn-seemore {
    font-size: 14px;
    padding: 12px 16px;
    max-width: 160px;
  }
}
@media screen and (max-width: 1200px) {
  .btn-seemore {
    font-size: 13px;
    padding: 10px 14px;
    max-width: 120px;
  }
}

.cart-table {
  width: 100%;
  font-size: 14px;
}
@media screen and (max-width: 1200px) {
  .cart-table {
    font-size: 12px;
  }
}
.cart-table th {
  height: 50px;
  padding-left: 10px;
  padding-right: 10px;
}
@media screen and (max-width: 1199px) {
  .cart-table th .txtLG {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .cart-table th .txtSM {
    display: none;
  }
}
.cart-table tbody tr {
  border-top: 1px solid #E4E9EE;
}
.cart-table td {
  padding-top: 10px;
  padding-bottom: 10px;
}
.cart-table .subtotal,
.cart-table .price {
  font-weight: 600;
  white-space: nowrap;
  padding-left: 5px;
  padding-right: 5px;
}
.cart-table .quantity .qtySel {
  border: 1px solid #E4E9EE;
  padding: 12px 18px;
  min-width: 83px;
  appearance: none;
  background: url(../img/icon-down.svg) no-repeat right 10px center/10px;
  color: #FF4E00;
}
.cart-table .quantity .qtySel:focus-within {
  outline: none;
}
@media screen and (max-width: 1679px) {
  .cart-table .quantity .qtySel {
    padding: 10px 12px;
    min-width: 60px;
  }
}
@media screen and (max-width: 1200px) {
  .cart-table .quantity .qtySel {
    padding: 6px 8px;
    min-width: 40px;
    background-size: 8px;
  }
}

.delivery-loc {
  max-width: 242px;
}
.delivery-loc .delivery-loc-input {
  display: flex;
  align-items: center;
  border: 1px solid #E4E9EE;
  border-radius: 6px;
  padding: 8px 10px;
}
.delivery-loc .del-field {
  flex: auto;
  border: none;
  flex: 0 0 calc(100% - 68px);
  max-width: calc(100% - 68px);
  margin-right: 10px;
  font-size: 14px;
}
.delivery-loc .del-field:focus, .delivery-loc .del-field:focus-visible {
  border: none;
  outline: none;
}
.delivery-loc .change-deli {
  max-width: 67px;
  font-size: 12px;
  height: 25px;
  border-radius: 5px;
  border: none;
  color: #FF4E00;
  background-color: rgba(255, 78, 0, 0.1411764706);
}

.prodCheck {
  width: 40px;
  padding-right: 15px;
}
@media screen and (max-width: 1679px) {
  .prodCheck {
    width: 32px;
    padding-right: 12px;
  }
}
@media screen and (max-width: 1200px) {
  .prodCheck {
    width: 30px;
    padding-right: 10px;
  }
}

.product-det-wrp {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  min-width: 200px;
}
.product-det-wrp .cc_imgWrp {
  width: 100px;
  height: 120px;
  background-color: #F8F8F8;
  border-radius: 4px;
}
@media screen and (max-width: 1440px) {
  .product-det-wrp .cc_imgWrp {
    width: 75px;
    height: 90px;
  }
}
@media screen and (max-width: 1200px) {
  .product-det-wrp .cc_imgWrp {
    width: 50px;
    height: 60px;
  }
}
.product-det-wrp .cc_imgWrp img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.product-det-wrp .variant,
.product-det-wrp .size {
  font-size: 13px;
  padding-top: 3px;
  padding-bottom: 3px;
}
.product-det-wrp .cart-tbl-sizeDD {
  border: none;
  appearance: none;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 30px;
  background: url(../img/icon-down.svg) no-repeat right 10px center/10px;
}
.product-det-wrp .cart-tbl-sizeDD:focus-visible {
  border: none;
  outline: none;
}
.product-det-wrp .actions {
  padding-top: 5px;
  display: flex;
  align-items: center;
  gap: 24px;
}
.product-det-wrp .actions .btn-actns {
  outline: none;
  border: none;
  background-color: transparent;
  padding: 0;
  font-size: 13px;
  color: #A4AEB8;
  display: flex;
  align-items: center;
}
.product-det-wrp .actions .btn-actns .actIco {
  width: 13px;
  object-fit: contain;
  margin-right: 5px;
}
.product-det-wrp .cc_delWrp {
  padding-left: 20px;
}
.product-det-wrp .cc_delWrp .prod-name {
  font-size: 15px;
  font-weight: 500;
}
.product-det-wrp .cc_delWrp p {
  margin-bottom: 0;
}

.continueShop {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #E4E9EE;
  margin-top: 10px;
  padding: 16px 0px;
}
.continueShop button {
  background-color: transparent;
  border: none !important;
  outline: none !important;
  font-size: 14px;
}
.continueShop button.btn-clearCart {
  color: #66829F;
}

.cart-page-prod {
  padding-top: 50px;
  padding-bottom: 80px;
}
@media screen and (max-width: 1679px) {
  .cart-page-prod {
    padding-top: 40px;
    padding-bottom: 60px;
  }
}
@media screen and (max-width: 1440px) {
  .cart-page-prod {
    padding-top: 40px;
    padding-bottom: 60px;
  }
}
@media screen and (max-width: 1200px) {
  .cart-page-prod {
    padding-top: 30px;
    padding-bottom: 40px;
  }
}
@media screen and (max-width: 991px) {
  .cart-page-prod {
    padding-top: 20px;
  }
}

.checkWrp {
  width: 26px;
  height: 26px;
  position: relative;
}
@media screen and (max-width: 1679px) {
  .checkWrp {
    width: 22px;
    height: 22px;
  }
}
@media screen and (max-width: 1200px) {
  .checkWrp {
    width: 18px;
    height: 18px;
  }
}
.checkWrp .checkboxCustom {
  position: absolute;
  inset: 0;
  z-index: 0;
  border: 1px solid #BED2E6;
  border-radius: 4px;
}
.checkWrp input[type=checkbox] {
  opacity: 0;
  position: absolute;
  inset: 0;
  z-index: 1;
  cursor: pointer;
}
.checkWrp input[type=checkbox]:checked ~ .checkboxCustom {
  border: 1px solid #f1f6fb;
  background: url(../img/checkbox_custom.svg) no-repeat center/cover;
}

.addCouponInput {
  padding-top: 8px;
}

.cart-rhs {
  padding: 28px 20px;
  border-radius: 6px;
  background-color: #F8F8F8;
  margin-bottom: 15px;
}
@media screen and (max-width: 1679px) {
  .cart-rhs {
    padding: 20px 18px;
  }
}
@media screen and (max-width: 1440px) {
  .cart-rhs {
    padding: 15px 16px;
  }
}
.cart-rhs h3 {
  font-size: 18px;
  line-height: 1.5;
}
@media screen and (max-width: 1440px) {
  .cart-rhs h3 {
    font-size: 16px;
  }
}
.cart-rhs .subtile {
  font-size: 12px;
}

@media screen and (min-width: 992px) {
  .cart-price-coupons {
    max-width: 360px;
  }
}
@media screen and (min-width: 1680px) {
  .cart-price-coupons {
    max-width: 428px;
  }
}
@media screen and (max-width: 991px) {
  .cart-price-coupons {
    padding-top: 30px;
  }
}

.priceDetails table.cart-prices {
  width: 100%;
  font-size: 14px;
}
@media screen and (max-width: 1440px) {
  .priceDetails table.cart-prices {
    font-size: 13px;
  }
}
.priceDetails table.cart-prices td {
  height: 40px;
}
@media screen and (max-width: 1679px) {
  .priceDetails table.cart-prices td {
    height: 36px;
  }
}
@media screen and (max-width: 1440px) {
  .priceDetails table.cart-prices td {
    height: 30px;
  }
}
@media screen and (max-width: 1200px) {
  .priceDetails table.cart-prices td {
    height: 20px;
  }
}
.priceDetails table.cart-prices .amtValue {
  text-align: right;
}
.priceDetails table.cart-prices .spacer {
  height: 15px;
}
.priceDetails table.cart-prices .totals {
  border-top: 1px solid rgba(86, 97, 232, 0.2196078431);
}
.priceDetails table.cart-prices .totals td {
  height: 60px;
}
.priceDetails table.cart-prices .totals .amtValue {
  font-weight: bold;
}

.addedCoupons {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 300px;
  font-size: 13px;
  border: 1px solid #E4E9EE;
  background-color: #F1F4F6;
  border-radius: 20px;
  padding: 8px 16px;
  margin-bottom: 10px;
}
.addedCoupons .cc-code {
  color: #FF4E00;
  font-weight: 600;
}
.addedCoupons .cc-applied {
  padding-left: 10px;
  color: #66829F;
}
.addedCoupons .cc-applied span {
  font-weight: 500;
}
.addedCoupons .btn-close {
  opacity: 1;
  width: 16px;
  height: 16px;
  flex: 0 0 16px;
  margin-left: auto;
  border-radius: 16px;
  background: #ffffff url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%2366829F'%3e%3cpath d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/%3e%3c/svg%3e") center/40% auto no-repeat;
}

.couponWrap {
  display: flex;
  align-items: center;
  width: 100%;
}
.couponWrap .couponInput-field {
  height: 40px;
  margin-right: 15px;
  border: 1px solid #E4E9EE;
  padding: 10px 16px;
  font-size: 12px;
  width: 100%;
  border-radius: 6px;
  max-width: calc(100% - 135px);
}
@media screen and (max-width: 1679px) {
  .couponWrap .couponInput-field {
    max-width: calc(100% - 115px);
  }
}
.couponWrap .couponInput-field:focus, .couponWrap .couponInput-field:focus-visible {
  outline: none;
}

.btn-coupon-apply {
  background-color: #66829F;
  height: 40px;
  border: none;
  color: #fff;
  min-width: 120px;
  border-radius: 6px;
}
@media screen and (max-width: 1679px) {
  .btn-coupon-apply {
    font-size: 13px;
    min-width: 100px;
  }
}

.btn-place-order {
  width: 100%;
  max-width: 360px;
  background-color: #FF4E00;
  border-radius: 4px;
  color: #fff;
  outline: none;
  border: none;
  padding: 10px;
  font-size: 16px;
  min-height: 48px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 1679px) {
  .btn-place-order {
    font-size: 14px;
    min-height: 40px;
  }
}
@media screen and (max-width: 1200px) {
  .btn-place-order {
    font-size: 13px;
  }
}
.safe-info {
  display: flex;
  align-items: center;
  color: #66829F;
  font-size: 14px;
  padding-left: 28px;
  padding-right: 28px;
}
.safe-info p {
  margin: 0;
}
.safe-info img {
  width: 24px;
  object-fit: contain;
  margin-right: 16px;
}

/*# sourceMappingURL=cart.css.map */
