@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
/*** all Mobile Screen (iphone 6,7,8) ***/
/*** mobile Landscape Size ***/
/*** medium devices (tablets, less than 992px) ***/
/*** iPad in landscape ***/
/**** smaller than desktop 1200 (devices and browsers) ***/
/*** laptop with MDPI (medium density per inch) resolution ***/
/*** SP developers resolution ***/
/*** laptop with HiDPI (High Dots Per Inch) resolution ***/
/*** WSXGA (Wide Super Extended Graphics Array) resolution ***/
/* placeholder mixin */
/* how to use this variabile*/
/* .forms{
   @include placeholder{
    opacity: 1;color: #a5aeb7;
  } */
/* @include transition (.2s ease-out all); */
/*    @include flexbox();
    @include justify-content (center);*/
html,
body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  cursor: pointer;
}

/* scrollbar  */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 0px;
  background: #ececec;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #b5b6b8;
  border-radius: 0px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #e2e2e2;
}

ul,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}

.title-block {
  text-align: center;
  margin-bottom: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (max-width: 1679px) {
  .title-block {
    margin-bottom: 90px;
  }
}
@media (max-width: 1441px) {
  .title-block {
    margin-bottom: 80px;
  }
}
@media (max-width: 767px) {
  .title-block {
    margin-bottom: 50px;
  }
}
@media (max-width: 575px) {
  .title-block {
    margin-bottom: 20px;
  }
}
.title-block .title {
  font-weight: 600;
  font-size: 35px;
  color: 222222;
  margin-bottom: 10px;
  line-height: 1.6;
  font-family: "Poppins", sans-serif;
  width: 100%;
}
.title-block .title span {
  font-weight: bold;
}
@media (max-width: 1679px) {
  .title-block .title {
    font-size: 34px;
  }
}
@media (max-width: 1441px) {
  .title-block .title {
    font-size: 33px;
  }
}
@media (max-width: 1199px) {
  .title-block .title {
    font-size: 30px;
  }
}
@media (max-width: 767px) {
  .title-block .title {
    font-size: 24px;
  }
}
@media (max-width: 479px) {
  .title-block .title {
    font-size: 20px;
  }
}
.title-block p {
  margin-bottom: 0;
  color: #949393;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
  font-family: "Poppins", sans-serif;
  letter-spacing: 0.64px;
  max-width: 700px;
}
@media (max-width: 1679px) {
  .title-block p {
    font-size: 15px;
  }
}
@media (max-width: 1441px) {
  .title-block p {
    font-size: 14px;
  }
}
@media (max-width: 1199px) {
  .title-block p {
    font-size: 13px;
  }
}

.sub-sec {
  padding-bottom: 130px;
}
@media (max-width: 1679px) {
  .sub-sec {
    padding-bottom: 120px;
  }
}
@media (max-width: 1441px) {
  .sub-sec {
    padding-bottom: 110px;
  }
}
@media (max-width: 1199px) {
  .sub-sec {
    padding-bottom: 100px;
  }
}
@media (max-width: 767px) {
  .sub-sec {
    padding-bottom: 50px;
  }
}

.breadcrumb {
  background-color: transparent;
}
.breadcrumb .breadcrumb-item {
  font: normal 14px/22px Poppins;
  letter-spacing: -0.77px;
}
.breadcrumb .breadcrumb-item.active {
  color: #000000;
  font-weight: 500;
}
.breadcrumb .breadcrumb-item .link {
  color: #61595A;
  text-decoration: none;
}

.breadcrumb-item + .breadcrumb-item {
  padding-left: 2px;
}

.breadcrumb-item + .breadcrumb-item::before {
  padding-left: 3px;
  padding-right: 5px;
}

.custom-dropdown .dropdown-menu {
  position: absolute;
  -webkit-transform: translate(-50%, 20px);
          transform: translate(-50%, 20px);
  left: 50%;
  padding: 0;
  width: 265px;
  -webkit-box-shadow: 0px 3px 21px rgba(0, 0, 0, 0.1607843137);
          box-shadow: 0px 3px 21px rgba(0, 0, 0, 0.1607843137);
  border: 1px solid #EFEFEF;
  border-radius: 13px;
}
.custom-dropdown .dropdown-menu:before {
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 20px solid #fff;
  content: "";
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  left: 50%;
  top: -3px;
}
.custom-dropdown .dropdown-menu li {
  margin-right: 0 !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  overflow: hidden;
}
.custom-dropdown .dropdown-menu li:first-child .dropdown-item {
  background-color: transparent;
  margin-top: 0px;
  border-radius: 13px 13px 0 0;
}
.custom-dropdown .dropdown-menu li:last-child .dropdown-item {
  border-radius: 0px 0px 13px 13px;
}
.custom-dropdown .dropdown-menu li .prf_img {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  margin-right: 15px;
}
.custom-dropdown .dropdown-menu li .prf_img img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.custom-dropdown .dropdown-menu li .prf_img .prf_name {
  color: #000000;
  font: 500 16px/41px Poppins;
}
.custom-dropdown .dropdown-menu li .dropdown-item {
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font: normal 14px/21px Poppins;
  padding-left: 25px;
  padding-right: 25px;
  position: relative;
  color: #39434F;
}
.custom-dropdown .dropdown-menu li .dropdown-item:hover, .custom-dropdown .dropdown-menu li .dropdown-item:active, .custom-dropdown .dropdown-menu li .dropdown-item:focus {
  background-color: rgba(255, 92, 20, 0.08);
  color: #FF4E00;
}
.custom-dropdown .dropdown-menu li .dropdown-item:hover .icon img, .custom-dropdown .dropdown-menu li .dropdown-item:active .icon img, .custom-dropdown .dropdown-menu li .dropdown-item:focus .icon img {
  -webkit-filter: invert(40%) sepia(66%) saturate(2063%) hue-rotate(351deg) brightness(102%) contrast(101%);
          filter: invert(40%) sepia(66%) saturate(2063%) hue-rotate(351deg) brightness(102%) contrast(101%);
}
.custom-dropdown .dropdown-menu li .dropdown-item .icon {
  margin-right: 15px;
}
.custom-dropdown .dropdown-menu li .ok_icon {
  position: relative;
}
.custom-dropdown .dropdown-menu li .ok_icon::after {
  content: " ";
  display: block;
  width: 0.3em;
  height: 0.6em;
  border: solid #FF4E00;
  border-width: 0 2px 2px 0;
  position: absolute;
  top: 40%;
  margin-top: -0.2em;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  right: 20px;
}
.custom-dropdown .dropdown-toggle::after {
  display: none;
}

.services-info-gird {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 200px;
}

.services-info-cvr {
  background: #F7F7F7;
  margin-top: 50px;
}
.services-info-cvr .services-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 0 15px;
  text-align: center;
}
.services-info-cvr .services-info .services-inf-icon img {
  width: 30px;
}
.services-info-cvr .services-info strong {
  color: #293341;
  font: 600 14px/19px Poppins;
  margin-bottom: 2px;
}
.services-info-cvr .services-info p {
  font: normal 14px/17px Poppins;
  color: #949393;
}
.services-info-cvr .services-info .services-inf-icon {
  margin-bottom: 20px;
}

.drop-sort {
  position: absolute;
  right: 0;
  top: 0;
}
.drop-sort .sort-select {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #E4E9EE;
  border-radius: 6px;
  padding-left: 60px;
  min-width: 300px;
  height: 38px;
}
.drop-sort .sort-select .sort {
  position: absolute;
  left: 10px;
  font: 13px/18px Poppins;
  color: #61595A;
}
.drop-sort .sort-select .form_controler {
  border: 0;
}
.drop-sort .sort-select .btn {
  border: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  text-align: left;
  width: 100%;
  font: 13px/18px Poppins;
}
.drop-sort .sort-select .btn:after {
  display: none;
}
.drop-sort .sort-select .dropdown-menu {
  width: 100%;
  -webkit-transform: translate(0px, 38px) !important;
          transform: translate(0px, 38px) !important;
  -webkit-box-shadow: 0px 11px 9px rgba(0, 0, 0, 0.1019607843);
          box-shadow: 0px 11px 9px rgba(0, 0, 0, 0.1019607843);
  border: 1px solid #DEE3E8;
  border-radius: 6px;
}
.drop-sort .sort-select .dropdown-menu li:first-child .dropdown-item {
  border-radius: 6px 6px 0 0;
}
.drop-sort .sort-select .dropdown-menu li:last-child .dropdown-item {
  border-radius: 0px 0px 6px 6px;
}
.drop-sort .sort-select .dropdown-menu:before {
  display: none;
}
.drop-sort .sort-select .dropdown-item {
  font: 13px/18px Poppins;
  color: #6c83a2;
}
.drop-sort .sort-select .dropdown-item:hover, .drop-sort .sort-select .dropdown-item:active {
  background-color: #e5f0ff;
}
.drop-sort .select-custom:after {
  content: "";
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  position: absolute;
  right: 0;
  top: 50%;
  right: 8px;
  border: solid black;
  border-width: 0 1px 1px 0;
  display: inline-block;
  padding: 3px;
  top: 13px;
  right: 16px;
}

/* The container */
.custom_inputs {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  padding-left: 20px;
  margin-bottom: 12px;
  color: #293341;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font: 14px/22px Poppins;
  letter-spacing: -0.77px;
  /* Hide the browser's default checkbox */
}
.custom_inputs.custom_check input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.custom_inputs.custom_check .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 16px;
  width: 16px;
  border: 1px solid #DBDEEA;
  border-radius: 3px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #fff;
  top: 50%;
}
.custom_inputs.custom_check input:checked ~ .checkmark {
  background: #66829F;
  border: 0;
}
.custom_inputs.custom_check .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.custom_inputs.custom_check input:checked ~ .checkmark:after {
  display: block;
}
.custom_inputs.custom_check .checkmark:after {
  left: 6px;
  top: 2px;
  width: 5px;
  height: 9px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.custom_inputs.custom_radio {
  /* On mouse-over, add a grey background color */
  /* When the radio button is checked, add a blue background */
  /* Create the indicator (the dot/circle - hidden when not checked) */
  /* Show the indicator (dot/circle) when checked */
}
.custom_inputs.custom_radio .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  width: 17px;
  height: 16px;
  border: 1px solid #C4C3CA;
  border-radius: 50%;
}
.custom_inputs.custom_radio .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.custom_inputs.custom_radio .checkmark:after {
  top: 51%;
  left: 50%;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: #66829F;
}
.custom_inputs.custom_radio input:checked ~ .checkmark {
  border: 1px solid #66829F;
}
.custom_inputs.custom_radio input:checked ~ .checkmark:after {
  display: block;
}
.custom_inputs.custom_radio input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
.custom_inputs.custom_radio .checkmark {
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 50%;
}

@media (max-width: 1679px) {
  .product-wrap {
    padding-top: 80px;
  }
  .breadcrumb {
    margin-bottom: 10px;
  }
  .breadcrumb .breadcrumb-item {
    font: normal 13px/17px "DM Sans", sans-serif;
  }
  .custom-dropdown .dropdown-menu li .prf_img {
    width: 32px;
    height: 32px;
  }
  .custom-dropdown .dropdown-menu {
    width: 225px;
  }
  .custom-dropdown .dropdown-menu li .dropdown-item {
    height: 48px;
  }
  .custom-dropdown .dropdown-menu li .dropdown-item .icon {
    margin-right: 10px;
  }
  .custom-dropdown .dropdown-menu li .dropdown-item .icon img {
    width: 15px;
  }
}
@media (max-width: 992px) {
  .drop-sort {
    position: static;
    margin-top: 10px;
  }
}
@media (max-width: 767px) {
  .services-info-gird {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-top: 25px;
    padding-bottom: 25px;
  }
}
@media (max-width: 575px) {
  .new-arrival, .info-welcome, .trand-sec, .subscribe-sec, .footer-main {
    padding-left: 15px !important;
    padding-right: 15px !important;
  }
}