@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
/*** all Mobile Screen (iphone 6,7,8) ***/
/*** mobile Landscape Size ***/
/*** medium devices (tablets, less than 992px) ***/
/*** iPad in landscape ***/
/**** smaller than desktop 1200 (devices and browsers) ***/
/*** laptop with MDPI (medium density per inch) resolution ***/
/*** SP developers resolution ***/
/*** laptop with HiDPI (High Dots Per Inch) resolution ***/
/*** WSXGA (Wide Super Extended Graphics Array) resolution ***/
/* placeholder mixin */
/* how to use this variabile*/
/* .forms{
   @include placeholder{
    opacity: 1;color: #a5aeb7;
  } */
/* @include transition (.2s ease-out all); */
/*    @include flexbox();
    @include justify-content (center);*/
body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}

.delivery-adrs-section .title-block.title-sec {
  margin-bottom: 30px;
  text-align: left;
  flex-wrap: nowrap;
  margin-top: 15px;
  align-items: center;
}
@media (max-width: 1679px) {
  .delivery-adrs-section .title-block.title-sec {
    margin-bottom: 15px;
  }
}
@media (max-width: 767px) {
  .delivery-adrs-section .title-block.title-sec {
    padding: 15px !important;
  }
}
@media (max-width: 579px) {
  .delivery-adrs-section .title-block.title-sec {
    margin-bottom: 0px;
    margin-top: 0px;
  }
}
.delivery-adrs-section .title-block.title-sec .title {
  font-size: 25px;
  display: flex;
  align-items: center;
}
.delivery-adrs-section .title-block.title-sec .title img {
  height: 20px;
  margin-right: 8px;
}
@media (max-width: 1679px) {
  .delivery-adrs-section .title-block.title-sec .title {
    font-size: 20px;
  }
}
@media (max-width: 991px) {
  .delivery-adrs-section .title-block.title-sec .title {
    font-size: 16px;
  }
}
@media (max-width: 767px) {
  .delivery-adrs-section .title-block.title-sec .title {
    font-size: 15px;
  }
}
.delivery-adrs-section .title-block.title-sec .btn-right button.add-btn-plus {
  min-width: 205px;
  color: #FF4E00;
  background: #fff;
  border: 1px solid #DAE1E8;
  height: 41px;
  display: flex;
  align-items: center;
  border-radius: 5px;
  align-items: center;
  justify-content: center;
}
.delivery-adrs-section .title-block.title-sec .btn-right button.add-btn-plus span {
  width: 15px;
  height: 15px;
  display: inline-block;
  background: #FF4E00;
  color: white;
  border-radius: 50px;
  margin-right: 5px;
  line-height: 17px;
  font-weight: 500;
}
.delivery-adrs-section .title-block.title-sec .btn-right button.add-btn-plus:hover {
  background: #FF4E00;
  color: #fff;
}
@media (max-width: 1679px) {
  .delivery-adrs-section .title-block.title-sec .btn-right button.add-btn-plus {
    font-size: 14px;
  }
}
@media (max-width: 1679px) {
  .delivery-adrs-section .title-block.title-sec .btn-right button.add-btn-plus {
    min-width: 160px;
  }
}
.delivery-adrs-section .delivery-box-outer {
  margin-top: 15px;
  margin-bottom: 55px;
}
@media (max-width: 767px) {
  .delivery-adrs-section .delivery-box-outer {
    padding: 15px !important;
  }
}
@media (max-width: 579px) {
  .delivery-adrs-section .delivery-box-outer {
    margin-top: 0px;
  }
}
.delivery-adrs-section .delivery-box-outer .outer-dl-sec {
  border: 1px solid #E4E9EE;
  padding: 25px 25px;
  display: flex;
}
@media (max-width: 991px) {
  .delivery-adrs-section .delivery-box-outer .outer-dl-sec {
    flex-direction: column;
  }
}
.delivery-adrs-section .delivery-box-outer .outer-dl-sec .left-side-panel {
  flex: 1 1 auto;
}
.delivery-adrs-section .delivery-box-outer .outer-dl-sec .list-sec-otr .list-adr {
  border: 1px solid #E4E9EE;
  padding: 28px 31px;
  margin-bottom: 20px;
}
.delivery-adrs-section .delivery-box-outer .outer-dl-sec .list-sec-otr .list-adr h3 {
  font-size: 21px;
  font-weight: 600;
  display: flex;
  align-items: center;
}
.delivery-adrs-section .delivery-box-outer .outer-dl-sec .list-sec-otr .list-adr .place-txt {
  color: #66829F;
  font-weight: 500;
  border: 1px solid #E4E9EE;
  padding: 2px 11px;
  font-size: 14px;
  margin-left: 30px;
  margin-bottom: 15px;
}
@media (max-width: 1679px) {
  .delivery-adrs-section .delivery-box-outer .outer-dl-sec .list-sec-otr .list-adr .place-txt {
    font-size: 12px;
    margin-bottom: 10px;
  }
}
.delivery-adrs-section .delivery-box-outer .outer-dl-sec .list-sec-otr .list-adr .phone {
  margin-top: 6px;
}
.delivery-adrs-section .delivery-box-outer .outer-dl-sec .list-sec-otr .list-adr .adrs-dtl, .delivery-adrs-section .delivery-box-outer .outer-dl-sec .list-sec-otr .list-adr .phone {
  font-size: 16px;
  font-weight: 400;
}
@media (max-width: 1679px) {
  .delivery-adrs-section .delivery-box-outer .outer-dl-sec .list-sec-otr .list-adr .adrs-dtl, .delivery-adrs-section .delivery-box-outer .outer-dl-sec .list-sec-otr .list-adr .phone {
    font-size: 14px;
  }
}
.delivery-adrs-section .delivery-box-outer .outer-dl-sec .list-sec-otr .list-adr .adrs-dtl .bold-txt, .delivery-adrs-section .delivery-box-outer .outer-dl-sec .list-sec-otr .list-adr .phone .bold-txt {
  font-weight: 500;
}
.delivery-adrs-section .delivery-box-outer .outer-dl-sec .list-sec-otr .list-adr .btn-otr {
  margin-top: 20px;
}
.delivery-adrs-section .delivery-box-outer .outer-dl-sec .list-sec-otr .list-adr .btn-otr .btn:hover {
  color: #FF4E00;
  border: 1px solid #FF4E00;
}
.delivery-adrs-section .delivery-box-outer .outer-dl-sec .list-sec-otr .list-adr .btn-otr .remove-btn {
  border: 1px solid #DAE1E8;
  padding: 10px 21px;
  font-size: 16px;
  font-weight: 500;
}
@media (max-width: 1679px) {
  .delivery-adrs-section .delivery-box-outer .outer-dl-sec .list-sec-otr .list-adr .btn-otr .remove-btn {
    font-size: 14px;
    padding: 7px 15px;
  }
}
.delivery-adrs-section .delivery-box-outer .outer-dl-sec .list-sec-otr .list-adr .btn-otr .edit-btn {
  border: 1px solid #DAE1E8;
  margin-left: 11px;
  padding: 10px 21px;
  font-size: 16px;
  font-weight: 500;
}
@media (max-width: 1679px) {
  .delivery-adrs-section .delivery-box-outer .outer-dl-sec .list-sec-otr .list-adr .btn-otr .edit-btn {
    font-size: 14px;
    padding: 7px 15px;
  }
}
.delivery-adrs-section .delivery-box-outer .outer-dl-sec .right-side-panel {
  width: 408px;
  padding: 0px 0px 0px 19px;
}
@media (max-width: 991px) {
  .delivery-adrs-section .delivery-box-outer .outer-dl-sec .right-side-panel {
    padding: 0px 0px 0px 0px !important;
    width: 100% !important;
  }
}
.delivery-adrs-section .delivery-box-outer .outer-dl-sec .right-side-panel .delivery-status {
  border: 1px solid #E4E9EE;
  padding: 15px 15px;
}
.delivery-adrs-section .delivery-box-outer .outer-dl-sec .right-side-panel .delivery-status h3 {
  font-size: 18px;
  margin-bottom: 23px;
}
@media (max-width: 1440px) {
  .delivery-adrs-section .delivery-box-outer .outer-dl-sec .right-side-panel .delivery-status h3 {
    font-size: 16px;
  }
}
.delivery-adrs-section .delivery-box-outer .outer-dl-sec .right-side-panel .delivery-status .delivery-status-dtl {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}
.delivery-adrs-section .delivery-box-outer .outer-dl-sec .right-side-panel .delivery-status .delivery-status-dtl .img-sec {
  width: 50px;
  height: 50px;
  padding: 5px 12px;
  background: #e8e8e8;
  border-radius: 5px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 1679px) {
  .delivery-adrs-section .delivery-box-outer .outer-dl-sec .right-side-panel .delivery-status .delivery-status-dtl .img-sec {
    width: 45px;
    height: 45px;
  }
}
.delivery-adrs-section .delivery-box-outer .outer-dl-sec .right-side-panel .delivery-status .delivery-status-dtl .img-sec img {
  height: 39px;
}
@media (max-width: 1679px) {
  .delivery-adrs-section .delivery-box-outer .outer-dl-sec .right-side-panel .delivery-status .delivery-status-dtl .img-sec img {
    height: 34px;
  }
}
.delivery-adrs-section .delivery-box-outer .outer-dl-sec .right-side-panel .delivery-status .delivery-status-dtl .content-txt {
  margin-left: 9px;
}
@media (max-width: 1679px) {
  .delivery-adrs-section .delivery-box-outer .outer-dl-sec .right-side-panel .delivery-status .delivery-status-dtl .content-txt {
    margin-left: 12px;
  }
}
.delivery-adrs-section .delivery-box-outer .outer-dl-sec .right-side-panel .delivery-status .delivery-status-dtl .content-txt span.txt-normal {
  color: #6F7B8B;
  font-size: 14px;
}
@media (max-width: 1679px) {
  .delivery-adrs-section .delivery-box-outer .outer-dl-sec .right-side-panel .delivery-status .delivery-status-dtl .content-txt span.txt-normal {
    font-size: 13px;
  }
}
.delivery-adrs-section .delivery-box-outer .outer-dl-sec .right-side-panel .delivery-status .delivery-status-dtl .content-txt span.txt-bold {
  color: #293341;
  font-weight: 600;
  font-size: 14px;
}
@media (max-width: 1679px) {
  .delivery-adrs-section .delivery-box-outer .outer-dl-sec .right-side-panel .delivery-status .delivery-status-dtl .content-txt span.txt-bold {
    font-size: 13px;
  }
}

/* Customize the label */
.container-radio {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 18px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
@media (max-width: 1679px) {
  .container-radio {
    font-size: 16px;
  }
}

/* Hide the browser's default radio button */
.container-radio input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom radio button */
.container-radio .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 21px;
  width: 21px;
  background-color: #fff;
  border: 2px solid #FF4E00;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.container-radio:hover input ~ .checkmark {
  background-color: #fff;
  border: 2px solid #FF4E00;
}

/* When the radio button is checked, add a blue background */
.container-radio input:checked ~ .checkmark {
  background-color: #fff;
  border: 2px solid #FF4E00;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.container-radio .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.container-radio input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.container .checkmark:after {
  top: 3px;
  left: 3px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #FF4E00;
}

/* The container */
.container-check {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 14px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #6F7B8B;
}

/* Hide the browser's default checkbox */
.container-check input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.container-check .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container-check:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container-check input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.container-check .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container-check input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container-check .checkmark:after {
  left: 8px;
  top: 4px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.checkbx-outr {
  margin-top: 25px;
}

.priceDetails table.cart-prices {
  width: 100%;
  font-size: 14px;
}
@media screen and (max-width: 1440px) {
  .priceDetails table.cart-prices {
    font-size: 13px;
  }
}
.priceDetails table.cart-prices td {
  height: 40px;
}
@media screen and (max-width: 1679px) {
  .priceDetails table.cart-prices td {
    height: 36px;
  }
}
@media screen and (max-width: 1440px) {
  .priceDetails table.cart-prices td {
    height: 30px;
  }
}
@media screen and (max-width: 1200px) {
  .priceDetails table.cart-prices td {
    height: 20px;
  }
}
.priceDetails table.cart-prices .amtValue {
  text-align: right;
}
.priceDetails table.cart-prices .spacer {
  height: 15px;
}
.priceDetails table.cart-prices .totals {
  border-top: 1px solid rgba(86, 97, 232, 0.2196078431);
}
.priceDetails table.cart-prices .totals td {
  height: 60px;
}
.priceDetails table.cart-prices .totals .amtValue {
  font-weight: bold;
}

.btn-place-order {
  width: 100%;
  max-width: 360px;
  background-color: #FF4E00;
  border-radius: 4px;
  color: #fff;
  outline: none;
  border: none;
  padding: 10px;
  font-size: 16px;
  min-height: 48px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 1679px) {
  .btn-place-order {
    font-size: 14px;
    min-height: 40px;
  }
}
@media screen and (max-width: 1200px) {
  .btn-place-order {
    font-size: 13px;
  }
}
.cart-rhs {
  padding: 28px 30px;
  border-radius: 6px;
  background-color: #F8F8F8;
  margin-bottom: 15px;
  margin-top: 15px;
}
@media screen and (max-width: 1679px) {
  .cart-rhs {
    padding: 20px 24px;
  }
}
@media screen and (max-width: 1440px) {
  .cart-rhs {
    padding: 15px 20px;
  }
}
.cart-rhs h3 {
  font-size: 18px;
  line-height: 1.5;
}
@media screen and (max-width: 1440px) {
  .cart-rhs h3 {
    font-size: 16px;
  }
}
.cart-rhs .subtile {
  font-size: 12px;
}

.safe-info {
  display: flex;
  align-items: center;
  color: #66829F;
  font-size: 14px;
  padding-left: 28px;
  padding-right: 28px;
}
.safe-info p {
  margin: 0;
}
.safe-info img {
  width: 24px;
  object-fit: contain;
  margin-right: 16px;
}

.progressbars {
  padding-top: 30px;
  padding-bottom: 50px;
}
@media (max-width: 1679px) {
  .progressbars {
    padding-bottom: 20px;
  }
}
.progressbars ul {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
}
@media screen and (max-width: 1200px) {
  .progressbars ul {
    font-size: 12px;
  }
}
.progressbars ul .cartPg {
  color: #A4AEB8;
  display: flex;
  align-items: center;
}
.progressbars ul .cartPg .ico {
  margin-right: 10px;
  padding-bottom: 5px;
}
@media screen and (max-width: 1200px) {
  .progressbars ul .cartPg .ico {
    padding-bottom: 2px;
  }
}
.progressbars ul .cartPg svg {
  fill: #A4AEB8;
}
@media screen and (max-width: 1200px) {
  .progressbars ul .cartPg svg {
    width: 8px;
  }
}
.progressbars ul .cartPg:before {
  content: "----------";
  height: 1px;
  display: flex;
  align-items: center;
  letter-spacing: 5px;
  padding-left: 5px;
  padding-right: 5px;
  color: #A4AEB8;
}
@media screen and (max-width: 991px) {
  .progressbars ul .cartPg:before {
    content: "------";
    letter-spacing: 3px;
  }
}
@media screen and (max-width: 576px) {
  .progressbars ul .cartPg:before {
    content: "----";
    letter-spacing: 1px;
  }
}
.progressbars ul .cartPg.active {
  color: #FF4E00;
}
.progressbars ul .cartPg.active svg {
  fill: #FF4E00;
}
.progressbars ul li:first-child .cartPg:before {
  display: none;
}

.add-new-address .btn-grey {
  border: 1px solid #DAE1E8;
  background: #F1F4F6;
  color: #66829F;
  width: 48%;
  border-radius: 4px;
  height: 45px;
}
.add-new-address .btn-grey:hover {
  border: 1px solid #FF4E00;
  color: #FF4E00;
}
@media (max-width: 1679px) {
  .add-new-address .btn-grey {
    font-size: 14px;
  }
}
@media (max-width: 470px) {
  .add-new-address .btn-grey {
    width: 100%;
  }
}
.add-new-address .btn-main {
  width: 48%;
  background: #FF4E00;
  border-radius: 4px;
  border-color: #FF4E00;
  border-radius: 4px;
  height: 45px;
}
.add-new-address .btn-main:hover {
  background: #eb6226;
}
@media (max-width: 1679px) {
  .add-new-address .btn-main {
    font-size: 14px;
  }
}
@media (max-width: 470px) {
  .add-new-address .btn-main {
    width: 100%;
  }
}
.add-new-address .modal-dialog {
  max-width: 620px;
}
@media (max-width: 1679px) {
  .add-new-address .modal-dialog {
    max-width: 600px;
  }
}
.add-new-address .modal-dialog .modal-title {
  color: #222222;
  font-size: 18px;
  font-weight: 600;
  padding-left: 28px;
}
@media (max-width: 1679px) {
  .add-new-address .modal-dialog .modal-title {
    font-size: 16px;
  }
}
@media (max-width: 767px) {
  .add-new-address .modal-dialog .modal-title {
    padding-left: 0px;
  }
}
.add-new-address .modal-dialog .modal-body {
  padding: 19px 20px 19px 45px;
}
@media (max-width: 1679px) {
  .add-new-address .modal-dialog .modal-body {
    padding: 19px 11px 10px 32px;
  }
}
@media (max-width: 767px) {
  .add-new-address .modal-dialog .modal-body {
    padding: 19px 15px 10px 15px;
  }
}
.add-new-address .modal-dialog .form-header {
  color: #293341;
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 15px;
}
@media (max-width: 1679px) {
  .add-new-address .modal-dialog .form-header {
    font-size: 14px;
  }
}
.add-new-address .modal-dialog .form-outer {
  display: flex;
}
.add-new-address .modal-dialog .form-outer .input-group {
  margin-right: 5px;
}
.add-new-address .modal-dialog .form-outer .form-control {
  border: 1px solid #E1E1E1;
  border-radius: 5px;
  height: 48px;
  padding-left: 18px;
  margin-bottom: 15px;
}
@media (max-width: 1679px) {
  .add-new-address .modal-dialog .form-outer .form-control {
    font-size: 14px;
    height: 42px;
    padding-left: 13px;
    margin-bottom: 11px;
  }
}
.add-new-address .modal-dialog .custom-selectbox {
  position: relative;
}
.add-new-address .modal-dialog .custom-selectbox::after {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  border-left: solid 8px transparent;
  border-right: solid 8px transparent;
  border-top: solid 8px #c3c4c6;
  z-index: 1;
  pointer-events: none;
  right: 15px;
  top: 20px;
}
.add-new-address .modal-dialog .adress-badge {
  display: flex;
}
@media (max-width: 450px) {
  .add-new-address .modal-dialog .adress-badge {
    flex-wrap: wrap;
  }
}
.add-new-address .modal-dialog .adress-badge .badge-otr {
  background: rgba(241, 244, 246, 0.4392156863);
  border: 1px solid rgba(218, 225, 232, 0.431372549);
  border-radius: 25px;
  margin-right: 14px;
  padding: 10px 21px;
  color: #7E7E7E;
  font-size: 15px;
  cursor: pointer;
  display: flex;
  align-items: center;
}
@media (max-width: 450px) {
  .add-new-address .modal-dialog .adress-badge .badge-otr {
    width: 100%;
    text-align: center;
    margin-bottom: 9px;
  }
}
@media (max-width: 1679px) {
  .add-new-address .modal-dialog .adress-badge .badge-otr {
    padding: 6px 16px;
    font-size: 13px;
  }
}
.add-new-address .modal-dialog .adress-badge .badge-otr .img-icn {
  width: 27px;
  height: 27px;
  background: #fff;
  border-radius: 100px;
  text-align: center;
  margin-right: 8px;
}
.add-new-address .modal-dialog .adress-badge .badge-otr .img-icn img {
  width: 16px;
}
@media (max-width: 1679px) {
  .add-new-address .modal-dialog .adress-badge .badge-otr .img-icn img {
    width: 14px;
  }
}
@media (max-width: 1679px) {
  .add-new-address .modal-dialog .adress-badge .badge-otr .img-icn {
    width: 24px;
    height: 24px;
  }
}
.add-new-address .modal-dialog .adress-badge .badge-otr.active {
  border: 1px solid rgba(255, 78, 0, 0.3882352941);
  background: rgba(255, 78, 0, 0.0784313725);
  color: #293341;
}
.add-new-address .modal-dialog .adress-badge .badge-otr:hover {
  border: 1px solid rgba(255, 78, 0, 0.3882352941);
  background: rgba(255, 78, 0, 0.0784313725);
  color: #293341;
}

/*# sourceMappingURL=delivery-adress.css.map */
