<<<<<<< HEAD
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
/*** all Mobile Screen (iphone 6,7,8) ***/
/*** mobile Landscape Size ***/
/*** medium devices (tablets, less than 992px) ***/
/*** iPad in landscape ***/
/**** smaller than desktop 1200 (devices and browsers) ***/
/*** laptop with MDPI (medium density per inch) resolution ***/
/*** SP developers resolution ***/
/*** laptop with HiDPI (High Dots Per Inch) resolution ***/
/*** WSXGA (Wide Super Extended Graphics Array) resolution ***/
/* placeholder mixin */
/* how to use this variabile*/
/* .forms{
   @include placeholder{
    opacity: 1;color: #a5aeb7;
  } */
/* @include transition (.2s ease-out all); */
/*    @include flexbox();
    @include justify-content (center);*/
.subscribe-sec {
  background: #F7F7F7;
  padding-top: 50px;
  padding-bottom: 50px;
  min-height: 210px;
  display: flex;
  align-items: center;
}
.subscribe-sec .subscribe-otr {
  display: flex;
  align-items: center;
  column-gap: 15px;
}
.subscribe-sec .subscribe-lft {
  flex: 1 1 auto;
  padding-right: 10px;
}
.subscribe-sec .subscribe-lft .subscribe-title {
  font: normal normal 600 26px/24px "Poppins", sans-serif;
  color: #222222;
}
.subscribe-sec .subscribe-lft p {
  font: normal normal normal 16px/26px "Poppins", sans-serif;
  color: #949393;
  margin-bottom: 0;
}
.subscribe-sec .subscribe-input-grp {
  flex: 0 0 auto;
  width: 45%;
  display: flex;
  height: 70px;
}
.subscribe-sec .subscribe-input-grp ::-webkit-input-placeholder {
  opacity: 0.8;
  color: #949393;
}
.subscribe-sec .subscribe-input-grp :-moz-placeholder {
  opacity: 0.8;
  color: #949393;
}
.subscribe-sec .subscribe-input-grp ::-moz-placeholder {
  opacity: 0.8;
  color: #949393;
}
.subscribe-sec .subscribe-input-grp :-ms-input-placeholder {
  opacity: 0.8;
  color: #949393;
}
.subscribe-sec .subscribe-input-grp .subscribe-input {
  border: 1px solid #222222;
  flex-grow: 1;
  padding: 23px 24px;
  outline: 0;
  font: normal 16px/24px "Poppins", sans-serif;
  color: #333;
  background-color: transparent;
}
.subscribe-sec .subscribe-input-grp .subscribe-btn {
  width: 160px;
  background: #222222;
  color: #fff;
  border: 1px solid #293341;
  font: 500 16px/24px "Poppins", sans-serif;
}

.gradient-sec {
  background: transparent linear-gradient(180deg, #FFFFFF 0%, #F6F6F8 100%) 0% 0% no-repeat padding-box;
  padding-bottom: 50px;
}

.product-image-grid {
  display: flex;
  grid-template-columns: 262px repeat(5, 1fr);
  column-gap: 14px;
  margin-top: 25px;
}
.product-image-grid .product-image {
  width: 20%;
  height: 250px;
  background: #f3f3f3;
}
.product-image-grid .product-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 1679px) {
  .subscribe-sec .subscribe-input-grp .subscribe-btn {
    width: 120px;
  }
  .subscribe-sec .subscribe-lft .subscribe-title {
    font: 600 20px/24px "Poppins", sans-serif;
  }
  .subscribe-sec .subscribe-lft p {
    font: normal normal normal 14px/23px "Poppins", sans-serif;
  }
  .subscribe-sec {
    padding-top: 55px;
    padding-bottom: 55px;
    min-height: auto;
  }
  .subscribe-sec .subscribe-input-grp .subscribe-input, .subscribe-sec .subscribe-input-grp .subscribe-btn {
    padding: 13px 20px;
    font: normal 14px/24px "Poppins", sans-serif;
  }
  .subscribe-sec .subscribe-input-grp {
    height: 55px;
  }
  .product-image-grid .product-image {
    height: 210px;
  }
  .gradient-sec {
    padding-bottom: 30px;
  }
}
@media (max-width: 1440px) {
  .subscribe-sec .subscribe-input-grp {
    height: 50px;
  }
}
@media (max-width: 1199px) {
  .subscribe-sec .subscribe-input-grp .subscribe-btn {
    width: 110px;
  }
  .subscribe-sec .subscribe-input-grp {
    height: 50px;
  }
}
@media (max-width: 991px) {
  .subscribe-sec {
    padding-top: 35px;
    padding-bottom: 35px;
  }
  .subscribe-sec .subscribe-otr {
    flex-direction: column;
  }
  .subscribe-sec .subscribe-lft {
    text-align: center;
    padding-right: 0;
    margin-bottom: 25px;
  }
  .subscribe-sec .subscribe-input-grp {
    width: 85%;
  }
  .product-image-grid .product-image {
    height: 130px;
  }
  .subscribe-sec .subscribe-lft p {
    font: normal normal normal 13px/20px "Poppins", sans-serif;
  }
}
@media (max-width: 767px) {
  .subscribe-sec .subscribe-lft .subscribe-title {
    font: 600 18px/23px "Poppins", sans-serif;
  }
  .product-image-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 15px;
  }
  .product-image-grid .product-image {
    height: 180px;
    width: 100%;
  }
  .gradient-sec {
    padding-bottom: 0px;
  }
  .subscribe-sec .subscribe-input-grp {
    width: 100%;
  }
  .subscribe-sec .subscribe-input-grp .subscribe-input,
.subscribe-sec .subscribe-input-grp .subscribe-btn {
    padding: 8px 10px;
  }
  .subscribe-sec .subscribe-input-grp {
    height: 40px;
  }
  .subscribe-sec {
    flex-direction: column;
  }
}
@media (max-width: 479px) {
  .subscribe-sec .subscribe-input-grp .subscribe-input {
    width: 100%;
  }
  .subscribe-sec .subscribe-input-grp .subscribe-input, .subscribe-sec .subscribe-input-grp .subscribe-btn {
    padding: 10px 15px;
  }
  .subscribe-sec .subscribe-input-grp .subscribe-btn {
    font: normal 12px/24px "Poppins", sans-serif;
    width: 100%;
    margin-top: 10px;
  }
  .subscribe-sec .subscribe-input-grp {
    flex-direction: column;
    height: auto;
  }
  .product-image-grid .product-image {
    height: 100%;
    background-color: transparent;
  }
  .product-image-grid .product-image img {
    object-fit: contain;
  }
  .product-image-grid {
    grid-template-columns: 1fr;
    row-gap: 15px;
    padding: 10px 25px;
  }
}

/*# sourceMappingURL=subscribe-product-img.css.map */
=======
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");.subscribe-sec{background:#F7F7F7;padding-top:50px;padding-bottom:50px;min-height:210px;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center}.subscribe-sec .subscribe-otr{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-column-gap:15px;column-gap:15px}.subscribe-sec .subscribe-lft{-webkit-box-flex:1;-ms-flex:1 1 auto;flex:1 1 auto;padding-right:10px}.subscribe-sec .subscribe-lft .subscribe-title{font:normal normal 600 26px/24px "Poppins",sans-serif;color:#222222}.subscribe-sec .subscribe-lft p{font:normal normal normal 16px/26px "Poppins",sans-serif;color:#949393;margin-bottom:0}.subscribe-sec .subscribe-input-grp{-webkit-box-flex:0;-ms-flex:0 0 auto;flex:0 0 auto;width:45%;display:-webkit-box;display:-ms-flexbox;display:flex;height:70px}.subscribe-sec .subscribe-input-grp ::-webkit-input-placeholder{opacity:0.8;color:#949393}.subscribe-sec .subscribe-input-grp :-moz-placeholder{opacity:0.8;color:#949393}.subscribe-sec .subscribe-input-grp ::-moz-placeholder{opacity:0.8;color:#949393}.subscribe-sec .subscribe-input-grp :-ms-input-placeholder{opacity:0.8;color:#949393}.subscribe-sec .subscribe-input-grp .subscribe-input{border:1px solid #222222;-webkit-box-flex:1;-ms-flex-positive:1;flex-grow:1;padding:23px 24px;outline:0;font:normal 16px/24px "Poppins",sans-serif;color:#333;background-color:transparent}.subscribe-sec .subscribe-input-grp .subscribe-btn{width:160px;background:#222222;color:#fff;border:1px solid #293341;font:500 16px/24px "Poppins",sans-serif}.gradient-sec{background:transparent -webkit-gradient(linear, left top, left bottom, from(#fff), to(#F6F6F8)) 0% 0% no-repeat padding-box;background:transparent linear-gradient(180deg, #fff 0%, #F6F6F8 100%) 0% 0% no-repeat padding-box;padding-bottom:50px}.product-image-grid{display:-webkit-box;display:-ms-flexbox;display:flex;-ms-grid-columns:262px (1fr)[5];grid-template-columns:262px repeat(5, 1fr);-webkit-column-gap:14px;column-gap:14px;margin-top:25px}.product-image-grid .product-image{width:20%;height:250px;background:#f3f3f3}.product-image-grid .product-image img{width:100%;height:100%;-o-object-fit:cover;object-fit:cover}@media (max-width: 1679px){.subscribe-sec .subscribe-input-grp .subscribe-btn{width:120px}.subscribe-sec .subscribe-lft .subscribe-title{font:600 20px/24px "Poppins", sans-serif}.subscribe-sec .subscribe-lft p{font:normal normal normal 14px/23px "Poppins", sans-serif}.subscribe-sec{padding-top:55px;padding-bottom:55px;min-height:auto}.subscribe-sec .subscribe-input-grp .subscribe-input,.subscribe-sec .subscribe-input-grp .subscribe-btn{padding:13px 20px;font:normal 14px/24px "Poppins", sans-serif}.subscribe-sec .subscribe-input-grp{height:55px}.product-image-grid .product-image{height:210px}.gradient-sec{padding-bottom:30px}}@media (max-width: 1440px){.subscribe-sec .subscribe-input-grp{height:50px}}@media (max-width: 1199px){.subscribe-sec .subscribe-input-grp .subscribe-btn{width:110px}.subscribe-sec .subscribe-input-grp{height:50px}}@media (max-width: 991px){.subscribe-sec{padding-top:35px;padding-bottom:35px}.subscribe-sec .subscribe-otr{-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column}.subscribe-sec .subscribe-lft{text-align:center;padding-right:0;margin-bottom:25px}.subscribe-sec .subscribe-input-grp{width:85%}.product-image-grid .product-image{height:130px}.subscribe-sec .subscribe-lft p{font:normal normal normal 13px/20px "Poppins", sans-serif}}@media (max-width: 767px){.subscribe-sec .subscribe-lft .subscribe-title{font:600 18px/23px "Poppins", sans-serif}.product-image-grid{display:-ms-grid;display:grid;-ms-grid-columns:(1fr)[2];grid-template-columns:repeat(2, 1fr);row-gap:15px}.product-image-grid .product-image{height:180px;width:100%}.gradient-sec{padding-bottom:0px}.subscribe-sec .subscribe-input-grp{width:100%}.subscribe-sec .subscribe-input-grp .subscribe-input,.subscribe-sec .subscribe-input-grp .subscribe-btn{padding:8px 10px}.subscribe-sec .subscribe-input-grp{height:40px}.subscribe-sec{-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column}}@media (max-width: 479px){.subscribe-sec .subscribe-input-grp .subscribe-input{width:100%}.subscribe-sec .subscribe-input-grp .subscribe-input,.subscribe-sec .subscribe-input-grp .subscribe-btn{padding:10px 15px}.subscribe-sec .subscribe-input-grp .subscribe-btn{font:normal 12px/24px "Poppins", sans-serif;width:100%;margin-top:10px}.subscribe-sec .subscribe-input-grp{-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column;height:auto}.product-image-grid .product-image{height:100%;background-color:transparent}.product-image-grid .product-image img{-o-object-fit:contain;object-fit:contain}.product-image-grid{-ms-grid-columns:1fr;grid-template-columns:1fr;row-gap:15px;padding:10px 25px}}
/*# sourceMappingURL=subscribe-product-img.css.map */
>>>>>>> 5f9933d310f19e8c505d9d02d0cf300e2495bedb
