.address-delivery-cvr {
  border: 1px solid #E4E9EE;
  padding: 57px 43px;
  margin-top: 25px;
}
.address-delivery-cvr .address-delivery-ttile {
  font: 600 24px/27px Poppins;
  letter-spacing: 0px;
  margin-bottom: 16px;
  color: #66829F;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.address-delivery-cvr .cover_inner {
  max-width: 75%;
}
.address-delivery-cvr .icon-circle-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 35px;
}
.address-delivery-cvr .icon-circle-text .icon-circle {
  margin-right: 15px;
}
.address-delivery-cvr .icon-circle-text .rgt-id {
  font: normal 16px/23px Poppins;
  letter-spacing: 0px;
  color: #293341;
}
.address-delivery-cvr .order-message {
  border: 1px solid #E4E9EE;
  border-left: 0;
  border-right: 0;
  margin-bottom: 25px;
}
.address-delivery-cvr .order-message p {
  margin-bottom: 0;
  font: normal 14px/23px Poppins;
  letter-spacing: 0px;
  color: #293341;
  padding-top: 12px;
  padding-bottom: 12px;
}
.address-delivery-cvr address {
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.address-delivery-cvr address .lg-title {
  font: 600 14px/17px Poppins;
  letter-spacing: -0.49px;
}
.address-delivery-cvr address strong {
  font: 500 14px/17px Poppins;
  letter-spacing: 0px;
  color: #293341;
}
.address-delivery-cvr address p {
  margin-bottom: 0;
  font: normal normal normal 14px/21px Poppins;
  letter-spacing: 0px;
  color: #293341;
}
.address-delivery-cvr address p a {
  color: #293341;
}
.address-delivery-cvr .spg-btn-cvr {
  margin-top: 40px;
}
.address-delivery-cvr .shopping-button {
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 1px solid #CFD6DE;
  border-radius: 6px;
  min-width: 204px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 5px 10px;
  color: #FF4E00;
  height: 48px;
  font: 500 16px/25px Poppins;
}
.address-delivery-cvr .shopping-button:hover {
  background-color: #222;
  color: #fff;
}

@media (max-width: 1679px) {
  .address-delivery-cvr {
    padding: 30px 27px;
  }
  .address-delivery-cvr .address-delivery-ttile {
    font: 600 20px/22px Poppins;
    margin-bottom: 10px;
  }
  .address-delivery-cvr .icon-circle-text .rgt-id {
    font: normal 14px/23px Poppins;
  }
  .address-delivery-cvr .shopping-button {
    font-size: 14px;
    min-width: 185px;
  }
}
@media (max-width: 1341px) {
  .address-delivery-cvr {
    padding: 27px 23px;
  }
}
@media (max-width: 991px) {
  .address-delivery-cvr .icon-circle-text {
    margin-bottom: 20px;
  }
  .address-delivery-cvr .cover_inner {
    max-width: 100%;
  }
}
@media (max-width: 767px) {
  .address-delivery-cvr .address-delivery-ttile {
    font: 600 17px/23px Poppins;
  }
  .address-delivery-cvr {
    padding: 20px;
  }
  .address-delivery-cvr .icon-circle-text .icon-circle {
    margin-right: 8px;
  }
}
@media (max-width: 479px) {
  .address-delivery-cvr .shopping-button {
    min-width: 100%;
  }
}