@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
/*** all Mobile Screen (iphone 6,7,8) ***/
/*** mobile Landscape Size ***/
/*** medium devices (tablets, less than 992px) ***/
/*** iPad in landscape ***/
/**** smaller than desktop 1200 (devices and browsers) ***/
/*** laptop with MDPI (medium density per inch) resolution ***/
/*** SP developers resolution ***/
/*** laptop with HiDPI (High Dots Per Inch) resolution ***/
/*** WSXGA (Wide Super Extended Graphics Array) resolution ***/
/* placeholder mixin */
/* how to use this variabile*/
/* .forms{
   @include placeholder{
    opacity: 1;color: #a5aeb7;
  } */
/* @include transition (.2s ease-out all); */
/*    @include flexbox();
    @include justify-content (center);*/
.trand-sec {
  padding: 150px 0px;
}
.trand-sec.feature .load-more {
  padding-top: 64px;
}
.trand-sec .product-view .product-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 50px;
}
.trand-sec .product-view .product-info .product-img {
  padding: 50px 15px;
  background-color: #F8F8F8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  position: relative;
  margin-bottom: 10px;
}
.trand-sec .product-view .product-info .product-img img {
  max-width: 100%;
  max-height: 130px;
}
.trand-sec .product-view .product-info .product-img .overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: none;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  background: rgba(204, 204, 204, 0.5019607843);
}
.trand-sec .product-view .product-info .product-img .overlay .btn-sec {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.trand-sec .product-view .product-info .product-img .overlay .btn-sec .btn-show {
  margin-bottom: 15px;
  background: #FFFFFF;
  border-radius: 29px;
  letter-spacing: 0px;
  color: #222222;
  padding: 10px 30px;
  font-family: "Poppins", sans-serif;
  text-transform: capitalize;
  font-size: 14px;
  line-height: 1.5;
}
.trand-sec .product-view .product-info .product-img:hover .overlay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.trand-sec .product-view .product-info .product-data .head {
  font-family: "Poppins", sans-serif;
  text-transform: capitalize;
  font-size: 16px;
  line-height: 1.5;
  color: #293341;
  font-weight: 600;
  margin-bottom: 0px;
}
.trand-sec .product-view .product-info .product-data .produt-price {
  font-family: "Poppins", sans-serif;
  text-transform: capitalize;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 500;
  color: #7A7D81;
}
.trand-sec .load-more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 100px 0px 0px;
}
.trand-sec .load-more .btn-more {
  color: #222222;
  padding: 15px 50px;
  line-height: 1.5;
  font-family: "Poppins", sans-serif;
  text-transform: capitalize;
  font-size: 16px;
  border: 1px solid #222222;
  border-radius: 29px;
}

@media (max-width: 1679px) {
  .trand-sec {
    padding: 130px 0px;
  }
  .trand-sec .product-view .product-info {
    margin-bottom: 40px;
  }
  .trand-sec .product-view .product-info .product-img {
    padding: 40px 0px;
  }
  .trand-sec .load-more {
    padding: 90px 0px 0px;
  }
  .trand-sec.feature .load-more {
    padding-top: 64px;
  }
}
@media (max-width: 1440px) {
  .trand-sec .load-more .btn-more {
    padding: 10px 50px;
  }
  .trand-sec {
    padding: 70px 0px;
  }
  .trand-sec .product-view .product-info {
    margin-bottom: 30px;
  }
  .trand-sec .product-view .product-info .product-img {
    padding: 30px 0px;
  }
  .trand-sec .load-more {
    padding: 50px 0px 0px;
  }
}
@media (max-width: 1280px) {
  .trand-sec {
    padding: 80px 0px;
  }
  .trand-sec .product-view .product-info {
    margin-bottom: 20px;
  }
  .trand-sec .product-view .product-info .product-img {
    padding: 20px 0px;
  }
  .trand-sec .load-more {
    padding: 80px 0px 0px;
  }
}
@media (max-width: 991px) {
  .trand-sec {
    padding: 70px 0px;
  }
  .trand-sec .product-view .product-info {
    margin-bottom: 15px;
  }
  .trand-sec .product-view .product-info .product-img {
    padding: 15px 0px;
  }
  .trand-sec .load-more {
    padding: 50px 0px 0px;
    padding: 15px 40px;
    line-height: 1;
  }
  .trand-sec.feature .load-more {
    padding-top: 15px;
  }
}
@media (max-width: 767px) {
  .trand-sec {
    padding: 50px 0px;
  }
  .trand-sec .product-view .product-info {
    margin-bottom: 15px;
  }
  .trand-sec .product-view .product-info .product-img {
    padding: 15px 0px;
  }
  .trand-sec .load-more {
    padding: 30px 0px 0px;
  }
  .trand-sec .load-more .btn-more {
    padding: 15px 30px;
    line-height: 1;
  }
  .trand-sec.feature .load-more {
    padding-top: 30px;
  }
}