@import "partials/partials";

.orders-sec{
    padding-bottom: 50px;
    .order-row{
        flex-wrap: wrap;
    }
}
.prof-breadcrumb{
    padding: 25px 0;
    ul{
        list-style: none;
        display: flex;
        align-items: center;
        li{
            color: rgba($color: #222222, $alpha: 0.9);
            font-weight: 600;
            font-size: 14px;
        }
        .brd-link{
            text-decoration: none;
            font-weight: 400;
            transition: .3s;
            color: rgba($color: #949393, $alpha: 0.9);
            position: relative;
            &:after{
                content: '/';
                color: rgba($color: #949393, $alpha: 0.9);
                padding: 0 8px;
            }
            &:hover{
                color: rgba($color: #222222, $alpha: 0.7);
            }
        }
    }
}
.page-title{
    align-items: center;
    font-weight: 600;
    font-size: 22px;
    color: #293341;
    margin-bottom: 40px;
    .usr-img{
        img{
            width: 50px;
            height: 50px;
            border-radius: 50%;
            object-fit: cover;
            overflow: hidden;
            background-color: #F8F8F8;
            border: solid 1px #F8F8F8;
            margin-right: 15px;
        }
    }
}

.order-sidenav{
    flex: 0 0 auto;
    width: 265px;

    .order-nav-cover{
        border: solid 1px #E4E9EE;
        border-radius: 6px;
        overflow: hidden;
        .order-nav-card{
            .nav-title{
                border-bottom: solid 1px #E4E9EE;
                padding: 14px;
                background-color: #F8F8F8;
                color: #293341;
                font-size: 16px;
                font-weight: 500;
            }
            .nav-item-block{
                padding-bottom: 15px;
                .order-nav-item{
                    display: block;
                    color: #293341;
                    font-size: 14px;
                    padding: 15px 15px 15px 35px;
                    transition: .3s;
                    &:hover, &.active{
                        color: #FF4E00;
                    }
                    &.active{
                        font-weight: 500;
                    }
                }
            }
        }
    }
}
.content-block-lg{
    flex: 1 1 auto;
    padding-left: 30px;
    width: calc(100% - 265px);
    .sec-sub-title{
        flex-wrap: wrap;
        .inner-title-block{
            text-align: left;
            display: flex;
            flex-direction: column;
            h4{
                color: #222222;
                font-size: 18px;
                font-weight: 600;
                margin-bottom: 2px;
            }
            p{
                margin-bottom: 0;
                color: #6F7B8B;
            }
        }
        .sec-block-right{
            display: flex;
            align-items: center;
            flex-grow: 1;
            margin-left: 20px;
            .custom-search-cover{
                flex: 1 1 auto;
                .input-group{
                    max-width: 350px;
                    width: 100%;
                    border: 1px solid #E4E9EE;
                    border-radius: 6px;
                    background-color: #fff;
                    height: 48px;
                    margin-left: auto;
                    @include placeholder{
                        color: #A4AEB8;
                    }
                    .form-control{
                        font-size: 14px;
                        font-weight: 300;
                        padding-left: 18px;
                        box-shadow: none;
                        border: none;
                        background-color: #fff;
                    }
                    .srch-btn{
                        box-shadow: none;
                        background-color: #fff;
                        border: none;
                    }
                }
            }
            .filter-box{
                height: 48px;
                padding: 13px 15px;
                border: 1px solid #E4E9EE;
                border-radius: 6px;
                font: normal normal 300 16px/25px Poppins;
                color: #293341;
                margin-left: 15px;
                .custom-filter{
                    background-image: url('../img/filter-icon.svg');
                    background-position: left;
                    background-repeat: no-repeat;
                    border: none;
                    padding-left: 30px;
                    color: #293341;
                    cursor: pointer;
                }
            }
        }
    }
    .order-list{
        margin: 24px 0 0;
        padding: 0px;
        li{
            list-style: none;
            border: 1px solid #CFD6DE;
            border-radius: 6px;
            padding: 30px;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            flex-wrap: wrap;
            margin-bottom: 18px;
            .product-img{
                
                max-width: 150px;
                img{
                    max-width: 100%;
                }
                
            }
            .product-info{
                padding-left: 24px;
                font: normal normal 300 13px/20px Poppins;
                color: #292929;
                .title{
                    font: normal normal normal 18px/27px Poppins;
                    color: #292929;
                    .brand{
                    font: normal normal 600 14px/21px Poppins;
                    display: block;
                    }
                }
                .variation{
                    display: inline-block;
                    margin-right: 25px;
                    margin-bottom: 5px;
                }
                p{
                    &.item-misc{
                    letter-spacing: 0.31px;
                    margin-bottom: 5px;
                    }
                }
            }
            .cta-wrp{
                text-align: right;
                .status{
                    font: normal normal normal 14px/21px Poppins;
                    color: #66829F;
                    margin-bottom: 5px;
                    &.transit{
                        color:#FF5C14;
                    }
                }
                
                .seller-update{
                    font: normal normal 300 13px/20px Poppins;
                    color: #000000;
                }
                .price{
                    font: normal normal 500 16px/25px Poppins;
                    color: #000000;
                    margin-bottom: 23px;
                }
                .btn-order{
                    background-color: #66829F;
                    font: normal normal normal 13px/20px Poppins;
                    color: #fff;
                    border-radius: 4px;
                    height: 43px;
                    padding:12px 33px;
                    &:hover{
                        background-color: #3e546b;
                    }
                }
                .btn-outline{
                    background-color: transparent;
                    font: normal normal normal 13px/20px Poppins;
                    border: 1px solid #CFD6DE;
                    border-radius: 3px;
                    color: #000;
                    height: 43px;
                    padding:12px 33px;
                    margin-left: 8px;
                }

            }
        }
    }
}
@media (max-width:1199px){
    .content-block-lg .order-list li .product-info{
        margin-bottom: 20px;
    }
}
@media (max-width:991px){
    .content-block-lg .sec-sub-title .sec-block-right{
        margin-left: 0px;
        margin-top: 20px;
    }
    .content-block-lg .order-list li .product-img{
        max-width: 100%;
        flex: 0 0 100%;
        justify-content: center;
        display: flex;
    }
    .content-block-lg .order-list li .product-info{
        padding-left: 0px !important;
        margin-bottom: 20px;
        flex: 0 0 100%;
    }
    .content-block-lg .order-list li .cta-wrp{
        text-align: left;
        margin-left: 0px!important;
        flex: 0 0 100%;
    }
   
}
@media (max-width:767px){
    .order-sidenav{
        max-width: 100%;
        flex: 0 0 100%;
        margin-bottom: 20px;
    }
    .content-block-lg{
        width: 100%;
        flex: 0 0 100%;
        padding-left: 0px;
    }
    .content-block-lg .order-list li .cta-wrp .btn-outline{
        margin-left: 0px;
    }
    .content-block-lg .order-list li .cta-wrp .btn-outline{
        width: 100%;
    }
    .content-block-lg .order-list li .cta-wrp .btn-order{
        width: 100%;
        margin-bottom: 5px;
    }
    .content-block-lg .sec-sub-title .sec-block-right{
        flex-wrap: wrap;
    }
    
    .content-block-lg .sec-sub-title .sec-block-right .custom-search-cover .input-group{
        margin-left: 0px;
        max-width: 100%;
    }
}
@media (max-width:579px){
    .content-block-lg .sec-sub-title .sec-block-right .filter-box{
        margin-left: 10px;
        max-width: 100px;
        margin-top: 0px;
    }
    
}