@import "partials/partials";

.review{
    padding: 0px 0px 110px;
    .review-slider{
        .content{
            display: flex;
            flex-direction: column;
            justify-content: center;
            max-width: 550px;
            margin-left: auto;
            margin-right: auto;
            .profile-img{
                max-width: 115px;
                margin-left: auto;
                margin-right: auto;
                margin-bottom: 20px;
            }
            .review-clent{
                color: #949393;
                font-size: 16px;
                line-height: 1.5;
                margin-bottom: 30px;
                font-family: $font-primary;
                text-align: center;
            }
            .review-head{
                font-family: $font-primary;
                margin-bottom: 0px;
                text-align: center;
                color: #222222;
                text-transform: uppercase;
                font-size: 16px;
                line-height: 1.5;
                margin-bottom: 0px;
                font-weight: 600;
            }
        }
    }
    .slick-arrow {
        border:none;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        padding: 0px;
        &.slick-prev:before{
            content: "";
            background-size: contain;
            background-image: url(../img/arrow-dropleft.svg);
            width: 100%;
            height: 100%;
            top: 0px;
            left: 0px;
            position: absolute;
            background-repeat: no-repeat;
        }
        &.slick-next:before{
            content: "";
            background-size: contain;
            background-image: url(../img/arrow-dropleft.svg);
            width: 100%;
            height: 100%;
            top: 0px;
            left: 0px;
            position: absolute;
            background-repeat: no-repeat;
            transform: rotate(180deg);
        }
    }
}

.client-log{
    padding: 40px 0px 70px;
    position: relative;
    &::before{
        content: "";
        position: absolute;
        top: 0;
        width: 20%;
        height: 1px;
        background: #ccc;
        left: 40%;
    }
    .client{
        flex: 0 0 20%;
        width: 20%;
        display: flex;
        justify-content: center;
        .client-logo{
            width: 90%;
        }
    }
}
@media(max-width:1679px){
    .review{
        padding: 0px 0px 100px;
        .review-slider{
            .content{
                .review-clent{
                    margin-bottom: 20px;
                }
            }
        }
    }
    .client-log{
        padding: 40px 0px 60px;
    }
}
@media(max-width:1440px){
    .review{
        padding: 0px 0px 80px;
    }
    .client-log{
        padding: 40px 0px 50px;
    }
}
@media(max-width:1280px){
    .review{
        padding: 0px 0px 70px;
    }
}
@media(max-width:991px){
    .review{
        padding: 0px 0px 60px;
    }
    .client-log{
        padding: 40px 0px 40px;
        .client {
            flex: 0 0 33.3%;
            width: 33.3%;
            margin-bottom: 15px;
        }
    }
}
@media(max-width:767px){
    .review .review-slider .content .review-clent{
        font-size: 13px;
    }
    .review .slick-arrow{
        width: 30px;
        height: 30px;
    }
    .review{
        padding: 0px 0px 50px;
        .review-slider{
            padding: 0px 50px;
            .content{
                .review-clent{
                    margin-bottom: 15px;
                }
            }
        }
        .review .slick-arrow{
            width: 30px;
            height: 30px;
        }
        .slick-arrow.slick-prev{
            left: 7px;
        }
        .slick-arrow.slick-next{
            right: 7px;
        }
    }
    .client-log{
        padding: 30px 0px 30px;
        .client {
            flex: 0 0 50%;
            width: 50%;
        }
    }
}
@media(max-width:575px){
    .review{
        padding: 0px 0px 30px;
    }
}