@import 'variable.scss';
.design-my-store {
.banner{
    background-color: transparent;
    padding-top: 61px;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    // overflow: hidden;
    position: relative;
    @media (max-width:1480px){
        max-height: 700px;
    }
    @media (max-width:1199px){
        height: auto;
    }
    &:after{
        content: "";
        width: 40%;
        height: 100%;
        background:url(/images/banner-after.jpg) no-repeat center;
        background-size: cover;
        display: block;
        position: absolute;
        top: 0px;
        right: 0px;
        z-index: 1;
        @media (max-width:767px){
            display: none;
        }
    }
    .container{
        @media (min-width:1350px){
            max-width: 1242px;
        }
    }
        .banner-slider{
            height: 100%;
            margin-bottom: 0;
            position: relative;
            z-index: 2;
            .slick-list{
                height: 100%;
            }
            .slick-slide{
                height: 100%;
                position: relative;
            }
            .slick-track{
                
                @media (min-width:992px){
                display: flex !important;
                height: 100%;
                }
            }

            .slick-slide{
                @media (min-width:992px){
                height: 100% !important;
                display: flex;
                }
            }

        }
        .bnr-content{
            display: flex;
            justify-content: center;
            flex-direction: column;
            margin-top: auto;
            margin-bottom: auto;
            position: relative;
            z-index: 2;
            @media (max-width:991px){
                margin-top: 50px;
            }
            .banner-title{
                font: normal normal medium 72px/75px $dmSans;
                letter-spacing: -2.45px;
                color: #26272E;
                position: relative;
                z-index: 2;
                opacity: 0;
                margin-bottom: 10px;
                max-width: 440px;
                @media (max-width:1679px){
                    font: normal normal 700 50px/60px $dmSans;
                }
                @media (max-width:1480px){
                    font: normal normal 700 40px/50px $dmSans;
                }
                @media (max-width:1199px){
                    font: normal normal 700 30px/40px $dmSans;
                }
                @media (max-width:991px){
                    font: normal normal 700 25px/40px $dmSans;
                }
                @media (max-width:767px){
                    font: normal normal 700 20px/30px $dmSans;
                }
                span{
                    color: #1AB0CE;
                }
            }
            .banner-desc{
                font: normal normal 300 21px/34px $dmSans;
                color: #000;
                position: relative;
                z-index: 2;
                opacity: 0;
                @media (max-width:1679px){
                    font: normal normal 300 20px/30px $dmSans;
                }
                @media (max-width:1480px){
                    font: normal normal 300 19px/29px $dmSans;
                }
                @media (max-width:1199px){
                    font: normal normal 300 18px/28px $dmSans;
                }
                @media (max-width:991px){
                    font: normal normal 300 16px/24px $dmSans;
                }
                @media (max-width:767px){
                    font: normal normal 300 14px/22px $dmSans;
                }
            }
        }
        .bnr-img{
            position: relative;
            z-index: 2;
            
            img{
                max-width: 460px;
                opacity: 0;
                @media (max-width:1199px){
                    max-width: 65%;
                }
                @media (max-width:991px){
                    max-width: 70%;
                }
                @media (max-width:767px){
                    max-width: 50%;
                    margin: 0 auto;
                }
            }
        }
        .slick-current{
            .title-cloned{
                opacity: 0.1;
                -webkit-animation: linear;
                -webkit-animation-name: forward;
                -webkit-animation-duration: 5s;
            }
            .bnr-img{
                img{
                    opacity: 1;
                }
            }
            .banner-title{
                opacity: 1;
            }
            .banner-desc{
                opacity: 1;
            }
            .banner-cta{
                opacity: 1;
            }
        }
        .slider-arrow-nav{
            width: 100%;
            height: 56px;
            position:absolute;
            right:0px;
            bottom:100px;
            cursor: pointer;
            @media (max-width:1199px){
                bottom: 40px;
            }
            @media (max-width:579px){
                bottom: 30px;
            }
            .container{
            display: flex;
            justify-content: flex-end;
            max-width: 1035px;
            position: relative;
            padding-right: calc(var(--bs-gutter-x) * .5);
            padding-left: calc(var(--bs-gutter-x) * .5);
            margin-right: auto;
            margin-left: auto;
            @media (max-width:1199px){
                max-width: 940px;
            }
            @media (max-width:991px){
                max-width: 500px;
                justify-content: flex-end;
            }
            @media (max-width:767px){
                max-width: 100%;
                justify-content: center;
            }
            }
            .slick-arrow{
                // position: absolute;
                // bottom: 100px;
                z-index: 2;
                width: 56px;
                height: 56px;
                border-radius: 50px;
                background-color: rgba(255,255,255,1);
                border: none;
                text-align: center;
                @media (max-width:1199px){
                    width: 40px;
                    height: 40px;
                }
                @media (max-width:579px){
                    width: 40px;
                    height: 40px;
                }
                &.next-arrow{
                    &:before{
                        content: "";
                        display: inline-block;
                        background: url(../img/right_arrow_bnr.svg) no-repeat center;
                        height: 56px;
                        width:56px;
                        @media (max-width:1199px){
                            width:40px;
                            height: 40px;
                            background-size: 7px;
                        }
                    }
                }
                &.prev-arrow{
                    background-color: rgba(255,255,255,0.5);
                    margin-right: 200px;
                    @media (max-width:991px){
                        margin-right: 100px;
                    }
                    &:before{
                        content: "";
                        display: inline-block;
                        background: url(../img/left_arrow.svg) no-repeat center;
                        height: 56px;
                        width:56px;
                        @media (max-width:1199px){
                            width:40px;
                            height: 40px;
                            background-size: 7px;
                        }
                    }
                }
            }
            .slick-dots{
                margin: 0px;
                padding: 0px;
                width: 325px;
                height: 56px;
                position: absolute;
                bottom: 0px;
                display: flex;
                justify-content: center;
                align-items: center;
                z-index: 1;
                @media (max-width:1199px){
                    height: 40px;
                    width: 285px;
                }
                @media (max-width:991px){
                    width: 182px;
                    height: 40px;
                }
                
            
                li{
                    list-style: none;
                    position: relative;
                    height: 4px;
                    margin: 0 2px;
                    &.slick-active{
                        &:after{
                            opacity: 1;
                        }
                    }
                    &:after{
                        content: "";
                        width: 24px;
                        height: 4px;
                        background: #000000;
                        opacity: 0.24;
                        display: block;
                    }
                    button{
                        display: none;
                    }
                }
            }
        }
}

.bottom-top{
    display: flex;
    justify-content: flex-start;
    .bnr-img{
        // margin-top: auto;
        // @media (min-width:1024px){
        //     min-height: 620px;
        // }
        // @media (min-width:992px){
        //     min-height: 400px;
        // }
        height: 100%;
        align-items: center;
        display: flex;
    }
}
.top-bottom{
    display: flex;
    align-items: center;
    @media (min-width:1200px){
        margin-top: 0px;
    }
    @media (min-width:992px){
        // margin-top: 100px;
        margin-top: 0px;
    }
    .bnr-img{
        display: flex;
        align-items: center;
        @media (min-width:1200px)and (max-width:14802px){
            min-height: 620px;
        }
        @media (min-width:1025px) and (max-width:1199px){
            min-height: 400px;
        }
        @media (min-width:992px) and (max-width:1024px){
            min-height: 400px;
        }
    }
    
}

}