@import 'variable.scss';

.design-my-store{
    .container{
        @media (min-width:1250px){
        max-width: 1242px;
        width: 100%;
        }
    }
    .products{
        padding: 50px 0;
        .title{
            text-align: center;
            font: normal normal 600 25px/40px $poppins;
            letter-spacing: -1.2px;
            color: #111111;
            text-transform: uppercase;
            margin-bottom: 30px;
            @media (max-width:992px){
                font: normal normal 600 22px/30px $poppins;
            }
            span{
                text-align: center;
                font: normal normal normal 14px/21px $poppins;
                letter-spacing: -0.31px;
                color: #302F2F;
                text-transform: uppercase;
                display: block;
            }
        }
        .product-lists{
            @media (max-width:767px){
                display: flex;
                flex-direction: column;
                align-items: center;
            }
            .pro-img-holder{
                position: relative;
                margin-bottom: 17px;
                padding: 0 35px 0;
                &:hover{
                    box-shadow: 0px 0px 24px #0000000D;
                    border-radius: 10px;
                }
                .badge{
                    position: absolute;
                    left: 35px;
                    bottom: 17px;
                    width: 56px;
                    height: 31px;
                    border-radius: 17px;
                    font: normal normal normal 14px/26px $poppins;
                    letter-spacing: -0.47px;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    padding: 0 9px;
                    &.green{
                        background-color: $primaryColor;
                        color: #FFFFFF;
                    }
                    span{
                        height: 29px;
                    }
                }
            }
            .pro-info{
                padding: 35px;
                padding-top:0px;
                .pro-title{
                    font: normal normal 600 16px/20px $poppins;
                    letter-spacing: -0.53px;
                    color: #111111;
                }
                .pro-content{
                    font: normal normal normal 14px/20px $poppins;
                    letter-spacing: -0.47px;
                    color: #6B6B6B;
                    margin-bottom: 0px;
                }
                .price-blk{
                    span{
                        margin-right: 7px;
                        &.now{
                            font: normal normal 600 16px/19px $roboto;
                            letter-spacing: -0.36px;
                            color: #000000;
                        }
                        &.old{
                            text-decoration: line-through;
                            font: normal normal normal 14px/17px $roboto;
                            letter-spacing: -0.31px;
                            color: #A4A4A4;
                        }
                        &.offer{
                            font: normal normal normal 12px/14px $roboto;
                            letter-spacing: -0.27px;
                            color: #22BC64;
                        }
                    }
                }
            }

        }
        &.grid-style{
            .bg-gray{
                // background-color: #F5F5F5;
            }
            .product-lists{
                display: flex;
                flex-direction: column;
                height: 100%;
                justify-content: end;
                @media (max-width:767px){
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                }
                .pro-img-holder{
                    margin-bottom: 0px;
                    &:hover{
                        box-shadow: none;
                    }
                }
                background-color: #F5F5F6;
            }
        }
    }

    .ad-full-banner{
        .ad-banner-large{
            background: url(../images/full-length-ad.png) no-repeat center;
        border-radius: 20px;
        overflow: hidden;
        padding:50px;
        @media (max-width:991px){
            margin-bottom: 20px;
        }
        &.half-height{
            background: url(../images/ad-banner-half-height.png);
            .ad-title{
                font: normal normal 600 35px/57px Poppins;
                @media (max-width:1679px){
                    font: normal normal 600 26px/36px $poppins;
                }
                @media (max-width:991px){
                    font: normal normal 600 24px/32px $poppins;
                }
                @media (max-width:767px){
                    font: normal normal 600 20px/28px $poppins;
                }
            }
        }
        &.split{
            .ad-title{
                font: normal normal 600 35px/48px $poppins;
                max-width: 363px;
                @media (max-width:1679px){
                    font: normal normal 600 30px/38px $poppins;
                }
                @media (max-width:991px){
                    font: normal normal 600 26px/36px $poppins;
                }
                @media (max-width:767px){
                    font: normal normal 600 20px/28px $poppins;
                }
            }
            &.left{
                background: url(../images/split-bnr-1.png);
            }
            &.right{
                background: url(../images/split-bnr-2.png);
            }
        }
        }
        .ad-title{
            text-align: left;
            font: normal normal 600 35px/46px $poppins;
            letter-spacing: 0px;
            color: #FFFFFF;
            text-transform: capitalize;
            @media (max-width:1679px){
                font: normal normal 600 30px/38px $poppins;
            }
            @media (max-width:991px){
                font: normal normal 600 26px/36px $poppins;
            }
            @media (max-width:767px){
                font: normal normal 600 20px/28px $poppins;
            }
        }
        .btn-xplore{
            color: #fff;
            font: normal normal 600 16px/19px $roboto;
            letter-spacing: -0.36px;
            border-color: #fff;
            width: 224px;
            margin-top: 25px;
            position: relative;
            overflow: hidden;
            @media (max-width:991px){
                font: normal normal 600 14px/18px $roboto;
                padding: 13px 30px;
                width: 170px;
                height: 45px;
            }
        }
    }

    .btn-xplore{
        height: 56px;
        border: 1px solid #707070;
        text-align: center;
        font: normal normal 600 16px/19px $roboto;
        letter-spacing: -0.36px;
        color: #302F2F;
        border-radius: 5px;
        padding: 19px 34px;
        &::after{
            background-color: #fff;
            border-radius: 5px;
            content: '';
            display: block;
            height: 100%;
            width: 100%;
            position: absolute;
            left: 0;
            top: 0;
            transform: translate(-100%, 0) rotate(10deg);
            transform-origin: top left;
            transition: .2s transform ease-out;
            will-change: transform;
            z-index: -1;
        }
        &:hover{
            &::after{
                transform: translate(0, 0)
            }
            border: 2px solid transparent;
            color: $primaryColor;
            transform: scale(1.05);
            will-change: transform;
        }
    }
}

// utils-classes
.mb-30{
    margin-bottom: 30px;
}