@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");
.design-my-store .banner {
  background-color: transparent;
  padding-top: 61px;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
}
@media (max-width: 1480px) {
  .design-my-store .banner {
    max-height: 700px;
  }
}
@media (max-width: 1199px) {
  .design-my-store .banner {
    height: auto;
  }
}
.design-my-store .banner:after {
  content: "";
  width: 40%;
  height: 100%;
  background: url(/images/banner-after.jpg) no-repeat center;
  background-size: cover;
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: 1;
}
@media (max-width: 767px) {
  .design-my-store .banner:after {
    display: none;
  }
}
@media (min-width: 1350px) {
  .design-my-store .banner .container {
    max-width: 1242px;
  }
}
.design-my-store .banner .banner-slider {
  height: 100%;
  margin-bottom: 0;
  position: relative;
  z-index: 2;
}
.design-my-store .banner .banner-slider .slick-list {
  height: 100%;
}
.design-my-store .banner .banner-slider .slick-slide {
  height: 100%;
  position: relative;
}
@media (min-width: 992px) {
  .design-my-store .banner .banner-slider .slick-track {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    height: 100%;
  }
}
@media (min-width: 992px) {
  .design-my-store .banner .banner-slider .slick-slide {
    height: 100% !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.design-my-store .banner .bnr-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: auto;
  margin-bottom: auto;
  position: relative;
  z-index: 2;
}
@media (max-width: 991px) {
  .design-my-store .banner .bnr-content {
    margin-top: 50px;
  }
}
.design-my-store .banner .bnr-content .banner-title {
  font: normal normal medium 72px/75px "DM Sans", sans-serif;
  letter-spacing: -2.45px;
  color: #26272E;
  position: relative;
  z-index: 2;
  opacity: 0;
  margin-bottom: 10px;
  max-width: 440px;
}
@media (max-width: 1679px) {
  .design-my-store .banner .bnr-content .banner-title {
    font: normal normal 700 50px/60px "DM Sans", sans-serif;
  }
}
@media (max-width: 1480px) {
  .design-my-store .banner .bnr-content .banner-title {
    font: normal normal 700 40px/50px "DM Sans", sans-serif;
  }
}
@media (max-width: 1199px) {
  .design-my-store .banner .bnr-content .banner-title {
    font: normal normal 700 30px/40px "DM Sans", sans-serif;
  }
}
@media (max-width: 991px) {
  .design-my-store .banner .bnr-content .banner-title {
    font: normal normal 700 25px/40px "DM Sans", sans-serif;
  }
}
@media (max-width: 767px) {
  .design-my-store .banner .bnr-content .banner-title {
    font: normal normal 700 20px/30px "DM Sans", sans-serif;
  }
}
.design-my-store .banner .bnr-content .banner-title span {
  color: #1AB0CE;
}
.design-my-store .banner .bnr-content .banner-desc {
  font: normal normal 300 21px/34px "DM Sans", sans-serif;
  color: #000;
  position: relative;
  z-index: 2;
  opacity: 0;
}
@media (max-width: 1679px) {
  .design-my-store .banner .bnr-content .banner-desc {
    font: normal normal 300 20px/30px "DM Sans", sans-serif;
  }
}
@media (max-width: 1480px) {
  .design-my-store .banner .bnr-content .banner-desc {
    font: normal normal 300 19px/29px "DM Sans", sans-serif;
  }
}
@media (max-width: 1199px) {
  .design-my-store .banner .bnr-content .banner-desc {
    font: normal normal 300 18px/28px "DM Sans", sans-serif;
  }
}
@media (max-width: 991px) {
  .design-my-store .banner .bnr-content .banner-desc {
    font: normal normal 300 16px/24px "DM Sans", sans-serif;
  }
}
@media (max-width: 767px) {
  .design-my-store .banner .bnr-content .banner-desc {
    font: normal normal 300 14px/22px "DM Sans", sans-serif;
  }
}
.design-my-store .banner .bnr-img {
  position: relative;
  z-index: 2;
}
.design-my-store .banner .bnr-img img {
  max-width: 460px;
  opacity: 0;
}
@media (max-width: 1199px) {
  .design-my-store .banner .bnr-img img {
    max-width: 65%;
  }
}
@media (max-width: 991px) {
  .design-my-store .banner .bnr-img img {
    max-width: 70%;
  }
}
@media (max-width: 767px) {
  .design-my-store .banner .bnr-img img {
    max-width: 50%;
    margin: 0 auto;
  }
}
.design-my-store .banner .slick-current .title-cloned {
  opacity: 0.1;
  -webkit-animation: linear;
  -webkit-animation-name: forward;
  -webkit-animation-duration: 5s;
}
.design-my-store .banner .slick-current .bnr-img img {
  opacity: 1;
}
.design-my-store .banner .slick-current .banner-title {
  opacity: 1;
}
.design-my-store .banner .slick-current .banner-desc {
  opacity: 1;
}
.design-my-store .banner .slick-current .banner-cta {
  opacity: 1;
}
.design-my-store .banner .slider-arrow-nav {
  width: 100%;
  height: 56px;
  position: absolute;
  right: 0px;
  bottom: 100px;
  cursor: pointer;
}
@media (max-width: 1199px) {
  .design-my-store .banner .slider-arrow-nav {
    bottom: 40px;
  }
}
@media (max-width: 579px) {
  .design-my-store .banner .slider-arrow-nav {
    bottom: 30px;
  }
}
.design-my-store .banner .slider-arrow-nav .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  max-width: 1035px;
  position: relative;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  margin-right: auto;
  margin-left: auto;
}
@media (max-width: 1199px) {
  .design-my-store .banner .slider-arrow-nav .container {
    max-width: 940px;
  }
}
@media (max-width: 991px) {
  .design-my-store .banner .slider-arrow-nav .container {
    max-width: 500px;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}
@media (max-width: 767px) {
  .design-my-store .banner .slider-arrow-nav .container {
    max-width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.design-my-store .banner .slider-arrow-nav .slick-arrow {
  z-index: 2;
  width: 56px;
  height: 56px;
  border-radius: 50px;
  background-color: rgb(255, 255, 255);
  border: none;
  text-align: center;
}
@media (max-width: 1199px) {
  .design-my-store .banner .slider-arrow-nav .slick-arrow {
    width: 40px;
    height: 40px;
  }
}
@media (max-width: 579px) {
  .design-my-store .banner .slider-arrow-nav .slick-arrow {
    width: 40px;
    height: 40px;
  }
}
.design-my-store .banner .slider-arrow-nav .slick-arrow.next-arrow:before {
  content: "";
  display: inline-block;
  background: url(../img/right_arrow_bnr.svg) no-repeat center;
  height: 56px;
  width: 56px;
}
@media (max-width: 1199px) {
  .design-my-store .banner .slider-arrow-nav .slick-arrow.next-arrow:before {
    width: 40px;
    height: 40px;
    background-size: 7px;
  }
}
.design-my-store .banner .slider-arrow-nav .slick-arrow.prev-arrow {
  background-color: rgba(255, 255, 255, 0.5);
  margin-right: 200px;
}
@media (max-width: 991px) {
  .design-my-store .banner .slider-arrow-nav .slick-arrow.prev-arrow {
    margin-right: 100px;
  }
}
.design-my-store .banner .slider-arrow-nav .slick-arrow.prev-arrow:before {
  content: "";
  display: inline-block;
  background: url(../img/left_arrow.svg) no-repeat center;
  height: 56px;
  width: 56px;
}
@media (max-width: 1199px) {
  .design-my-store .banner .slider-arrow-nav .slick-arrow.prev-arrow:before {
    width: 40px;
    height: 40px;
    background-size: 7px;
  }
}
.design-my-store .banner .slider-arrow-nav .slick-dots {
  margin: 0px;
  padding: 0px;
  width: 325px;
  height: 56px;
  position: absolute;
  bottom: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1;
}
@media (max-width: 1199px) {
  .design-my-store .banner .slider-arrow-nav .slick-dots {
    height: 40px;
    width: 285px;
  }
}
@media (max-width: 991px) {
  .design-my-store .banner .slider-arrow-nav .slick-dots {
    width: 182px;
    height: 40px;
  }
}
.design-my-store .banner .slider-arrow-nav .slick-dots li {
  list-style: none;
  position: relative;
  height: 4px;
  margin: 0 2px;
}
.design-my-store .banner .slider-arrow-nav .slick-dots li.slick-active:after {
  opacity: 1;
}
.design-my-store .banner .slider-arrow-nav .slick-dots li:after {
  content: "";
  width: 24px;
  height: 4px;
  background: #000000;
  opacity: 0.24;
  display: block;
}
.design-my-store .banner .slider-arrow-nav .slick-dots li button {
  display: none;
}
.design-my-store .bottom-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.design-my-store .bottom-top .bnr-img {
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.design-my-store .top-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (min-width: 1200px) {
  .design-my-store .top-bottom {
    margin-top: 0px;
  }
}
@media (min-width: 992px) {
  .design-my-store .top-bottom {
    margin-top: 0px;
  }
}
.design-my-store .top-bottom .bnr-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (min-width: 1200px) and (max-width: 14802px) {
  .design-my-store .top-bottom .bnr-img {
    min-height: 620px;
  }
}
@media (min-width: 1025px) and (max-width: 1199px) {
  .design-my-store .top-bottom .bnr-img {
    min-height: 400px;
  }
}
@media (min-width: 992px) and (max-width: 1024px) {
  .design-my-store .top-bottom .bnr-img {
    min-height: 400px;
  }
}