@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");
.best-Seller {
  padding-top: 100px;
}
.best-Seller .head-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.best-Seller .head-area .heading {
  color: #26272E;
  font-family: "DM Sans", sans-serif;
  font-size: 42px;
  line-height: 1.2;
  margin-bottom: 10px;
  font-weight: bold;
  letter-spacing: -1.43px;
  text-align: center;
}
.best-Seller .head-area .p-text {
  color: #61595A;
  text-transform: capitalize;
  letter-spacing: -1.21px;
  font-family: "DM Sans", sans-serif;
  font-size: 22px;
  line-height: 1.2;
  margin-bottom: 0px;
  text-align: center;
}
.best-Seller .slick-slide {
  margin: 0px 20px;
}
.best-Seller .slick-slide img {
  width: 100%;
}
.best-Seller .slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}
.best-Seller .slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
.best-Seller .slick-list:focus {
  outline: none;
}
.best-Seller .slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}
.best-Seller .slick-slider .slick-track,
.best-Seller .slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.best-Seller .slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
}
.best-Seller .slick-track:before,
.best-Seller .slick-track:after {
  display: table;
  content: "";
}
.best-Seller .slick-track:after {
  clear: both;
}
.best-Seller .slick-loading .slick-track {
  visibility: hidden;
}
.best-Seller .slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}
.best-Seller [dir=rtl] .slick-slide {
  float: right;
}
.best-Seller .slick-slide img {
  display: block;
}
.best-Seller .slick-slide.slick-loading img {
  display: none;
}
.best-Seller .slick-slide.dragging img {
  pointer-events: none;
}
.best-Seller .slick-initialized .slick-slide {
  display: block;
}
.best-Seller .slick-loading .slick-slide {
  visibility: hidden;
}
.best-Seller .slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}
.best-Seller .slick-arrow.slick-hidden {
  display: none;
}
.best-Seller .slider-area .best-slider {
  margin-top: 70px;
}
.best-Seller .slider-area .best-slider .slick-arrow {
  width: 50px;
  height: 50px;
  border: 2px solid #EB3E32;
  border-radius: 50%;
  color: #EB3E32;
}
.best-Seller .slider-area .best-slider .slick-arrow::before {
  content: "";
  background-image: url(../images/arrow-round-forward.svg);
  width: 20px;
  height: 20px;
  position: absolute;
  background-repeat: no-repeat;
  background-size: contain;
  top: 17px;
  left: 14px;
}
.best-Seller .slider-area .best-slider .slick-arrow.slick-prev {
  left: -50px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.best-Seller .slider-area .best-slider .slick-arrow.slick-next {
  right: -50px;
}
.best-Seller .slider-area .best-slider .slide .product-img {
  border: 2px solid #E1E1E1;
  border-radius: 11px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  margin-bottom: 10px;
}
.best-Seller .slider-area .best-slider .slide .product-img img {
  max-width: 200px;
}
.best-Seller .slider-area .best-slider .slide .product-img .tag {
  position: absolute;
  top: 15px;
  left: 15px;
  letter-spacing: 0.11px;
  color: #FFFFFF;
  font-family: "DM Sans", sans-serif;
  font-size: 14px;
  font-weight: bold;
  border-radius: 6px;
  background-color: #EB3E32;
  padding: 5px 10px;
}
.best-Seller .slider-area .best-slider .slide .produt-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.best-Seller .slider-area .best-slider .slide .produt-info .tag-name {
  color: #61595A;
  font-family: "DM Sans", sans-serif;
  letter-spacing: -1.04px;
  font-size: 19px;
  margin-bottom: 0px;
}
.best-Seller .slider-area .best-slider .slide .produt-info .product-name {
  color: #000000;
  font-family: "DM Sans", sans-serif;
  font-size: 22px;
  line-height: 1.5;
  margin-bottom: 0px;
}
.best-Seller .slider-area .best-slider .slide .produt-info .price-area span {
  color: #61595A;
  letter-spacing: 0.29px;
  font-family: "DM Sans", sans-serif;
  font-size: 22px;
}
.best-Seller .slider-area .best-slider .slide .produt-info .price-area span.corss {
  letter-spacing: 0.29px;
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
  text-decoration: line-through;
}
.best-Seller .slider-area .best-slider .slide .produt-info .price-area span.price {
  letter-spacing: 0.29px;
  font-family: "DM Sans", sans-serif;
  font-size: 22px;
}