@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");
.price-details {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 453px;
          flex: 0 0 453px;
  max-width: 453px;
  margin-bottom: 20px;
}

.cart-item {
  border: 1px solid #DBDBDB;
  border-radius: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 17px 25px;
  position: relative;
  -webkit-column-gap: 60px;
     -moz-column-gap: 60px;
          column-gap: 60px;
  margin-bottom: 20px;
}
.cart-item:first-child .label {
  display: block;
}
.cart-item .product {
  width: 105px;
  height: 105px;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #f3f4f6;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.cart-item .product .product-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.cart-item .item-col {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  position: relative;
  min-height: 80px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.cart-item .item-col .otr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.cart-item .description {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 185px;
          flex: 0 0 185px;
  max-width: 185px;
}
.cart-item .label {
  position: absolute;
  top: -3.2rem;
  font: normal 14px/20px "DM Sans", sans-serif;
  display: none;
}
.cart-item .label-align .label {
  top: -3.5rem;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.cart-item .otr p {
  color: #402B14;
  font: normal normal normal 13px/20px "DM Sans", sans-serif;
  margin-bottom: 2px;
}
.cart-item .otr .strong {
  color: #402B14;
  font: normal normal 600 18px/27px "DM Sans", sans-serif;
  margin-bottom: 2px;
  width: 185px;
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
  text-overflow: ellipsis;
}
.cart-item .availability .stock-txt {
  font: normal normal normal 14px/18px "DM Sans", sans-serif;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.cart-item .availability .stock-txt .bullet {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  margin-right: 6px;
}
.cart-item .availability .stock-txt.in-stock {
  color: #489D00;
}
.cart-item .availability .stock-txt.in-stock .bullet {
  background-color: #489D00;
}
.cart-item .availability .stock-txt.outof-stock {
  color: #FF5A5A;
}
.cart-item .availability .stock-txt.outof-stock .bullet {
  background-color: #FF5A5A;
}
.cart-item .size-col {
  margin-right: auto;
}
.cart-item .qnty-col {
  -webkit-box-flex: inherit;
      -ms-flex-positive: inherit;
          flex-grow: inherit;
  -ms-flex: 0 0 auto;
      flex: 0 0 auto;
}
.cart-item .size {
  width: 39px;
  height: 39px;
  border: 1px solid #E0E0E0;
  border-radius: 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #402B14;
  font: 600 14px/20px "DM Sans", sans-serif;
}
.cart-item .qnty-btn-grp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 1px;
     -moz-column-gap: 1px;
          column-gap: 1px;
}
.cart-item .qnty-btn-grp .control-btn {
  width: 39px;
  height: 39px;
  border: 1px solid #E0E0E0;
  border-radius: 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #402B14;
  font: 600 14px/20px "DM Sans", sans-serif;
  background-color: transparent;
}
.cart-item .qnty-btn-grp .control-btn img {
  width: 9px;
}
.cart-item .qnty-btn-grp .control-btn.add {
  background-color: #7F57F1;
  color: #fff;
  border: 0;
}
.cart-item .qnty-btn-grp .control-btn.minus {
  background-color: #F9F7FF;
  border: 0;
}
.cart-item .price-col {
  -webkit-box-flex: inherit;
      -ms-flex-positive: inherit;
          flex-grow: inherit;
  -ms-flex: 0 0 auto;
      flex: 0 0 auto;
}
.cart-item .price {
  font: 600 14px/20px "DM Sans", sans-serif;
  color: #000;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.cart-item .price span {
  margin-right: 5px;
}
.cart-item .price img {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.cart-item .delete-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.cart-item .delete-btn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #FFF7F7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 0;
}

.price-box {
  border: 1px solid #E6E0FD;
  border-radius: 14px;
  background: #FBFAFF;
  min-height: 350px;
}
.price-box .price-list {
  padding: 33px 45px 15px;
}
.price-box .price-list .items-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 35px 0;
  color: #000;
}
.price-box .price-list .items-row .items {
  font: normal 14px/21px "DM Sans", sans-serif;
}
.price-box .price-list .items-row .pricergt {
  margin-left: auto;
  font: 600 14px/21px "DM Sans", sans-serif;
}
.price-box .price-list .items-row .green-txt {
  color: #489D00;
}
.price-box .price-list .items-row .total {
  font: bolder 15px/21px "DM Sans", sans-serif;
}
.price-box .price-title {
  color: #000;
  font: 600 16px/25px "DM Sans", sans-serif;
}
.price-box .ftr {
  padding-left: 15px;
  padding-right: 15px;
}
.price-box .ftr .ftr-content {
  border-top: 1px dashed #BBB2E2;
  color: #489D00;
  padding: 25px 35px;
  font: normal normal normal 14px/21px "DM Sans", sans-serif;
}

.pro-discrp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
}

.payment-scnt {
  border: 1px solid #EAEAEA;
  border-radius: 14px;
  min-height: 120px;
  padding: 20px 33px 20px 53px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.payment-scnt .lft-info p {
  margin-bottom: 3px;
  color: #404040;
}
.payment-scnt .lft-info p strong {
  font-weight: 600;
}
.payment-scnt .lft-info p .link {
  color: #404040;
}
.payment-scnt .lft-info p .change {
  color: #FF5A5A;
  text-decoration: none;
}
.payment-scnt .lft-info p.green-txt {
  color: #489D00;
  font: normal normal normal 14px/24px "DM Sans", sans-serif;
}
.payment-scnt .btn-cvr {
  margin-left: auto;
}
.payment-scnt .btn-cvr .payment-btn {
  background: transparent -webkit-gradient(linear, left top, left bottom, from(#7F57F1), to(#2C00AA)) 0% 0% no-repeat padding-box;
  background: transparent linear-gradient(180deg, #7F57F1 0%, #2C00AA 100%) 0% 0% no-repeat padding-box;
  -webkit-box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.0784313725);
          box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.0784313725);
  border-radius: 6px;
  color: #fff;
  font: normal normal 16px/25px "DM Sans", sans-serif;
  min-width: 265px;
  height: 63px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 32px;
  text-decoration: none;
}
.payment-scnt .btn-cvr .payment-btn:hover {
  opacity: 0.9;
}
.payment-scnt .btn-cvr .payment-btn span {
  margin-left: auto;
}
.payment-scnt .map-pin {
  margin-right: 5px;
}

.cart-main {
  margin-bottom: 50px;
  margin-top: 60px;
}

.inner-grid-01 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
}

.inner-grid-02 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
  width: 100%;
}

@media (max-width: 1679px) {
  .cart-item .product {
    width: 85px;
    height: 85px;
  }
  .price-box .price-list .items-row {
    margin: 21px 0;
  }
  .cart-item {
    padding: 13px 18px;
  }
  .payment-scnt {
    min-height: auto;
    padding: 20px 33px 20px 40px;
  }
  .cart-item .otr .strong {
    font: normal normal 600 16px/24px "DM Sans", sans-serif;
  }
  .payment-scnt .btn-cvr .payment-btn {
    height: 50px;
    font: normal normal 14px/25px "DM Sans", sans-serif;
    min-width: 235px;
  }
  .price-details {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 430px;
            flex: 0 0 430px;
    max-width: 430px;
  }
  .cart-item .size {
    width: 35px;
    height: 35px;
  }
  .cart-item .qnty-btn-grp .control-btn {
    width: 35px;
    height: 35px;
  }
}
@media (max-width: 1281px) {
  .cart-item .label-align .label {
    top: -2.7rem;
  }
  .price-details {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 370px;
            flex: 0 0 370px;
    max-width: 370px;
  }
  .cart-item .description {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 135px;
            flex: 0 0 135px;
    max-width: 135px;
  }
  .cart-item .otr .strong {
    width: 135px;
  }
  .cart-item .product {
    width: 85px;
    height: 85px;
  }
  .cart-item {
    -webkit-column-gap: 20px;
       -moz-column-gap: 20px;
            column-gap: 20px;
    padding: 15px;
  }
}
@media (max-width: 1199px) {
  .price-box .price-list {
    padding: 33px 25px 15px;
  }
  .price-box .ftr .ftr-content {
    padding: 25px 25px;
  }
  .price-box .price-list .items-row {
    margin: 20px 0;
  }
  .cart-item .otr .strong {
    width: 125px;
  }
  .inner-grid-01 {
    -webkit-column-gap: 10px;
       -moz-column-gap: 10px;
            column-gap: 10px;
  }
  .price-details {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    max-width: 100%;
  }
  .inner-grid-02 {
    margin-left: auto;
    width: auto;
  }
  .cart-item .otr .strong {
    width: auto;
  }
  .cart-item .description {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    max-width: 100%;
  }
  .price-details {
    margin-bottom: 20px;
  }
}
@media (max-width: 991px) {
  .price-box .ftr .ftr-content {
    padding: 25px 15px;
  }
  .cart-main {
    margin-bottom: 30px;
    margin-top: 30px;
  }
  .cart-item .description {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 175px;
            flex: 0 0 175px;
    max-width: 175px;
  }
  .cart-item .otr .strong {
    width: 175px;
  }
}
@media (max-width: 767px) {
  .cart-item .label {
    display: none !important;
  }
  .payment-scnt {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .payment-scnt .btn-cvr .payment-btn {
    min-width: 255px;
    height: 53px;
  }
  .cart-item {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .cart-item .size {
    width: 29px;
    height: 29px;
  }
  .cart-item .item-col .otr {
    margin-top: 8px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .cart-item .product {
    margin-top: 8px;
  }
  .cart-item .item-col {
    min-height: 50px;
  }
  .payment-scnt .btn-cvr {
    margin-top: 25px;
  }
}
@media (max-width: 579px) {
  .cart-item .product {
    width: 75px;
    height: 75px;
  }
  .price-box .price-list {
    padding: 33px 20px 15px;
  }
  .price-box .ftr .ftr-content {
    padding: 25px 10px;
  }
  .price-box .price-list .items-row {
    margin: 15px 0;
  }
  .cart-item .otr .strong {
    font: normal normal 600 16px/22px "DM Sans", sans-serif;
  }
  .payment-scnt {
    padding: 15px;
  }
  .payment-scnt .btn-cvr {
    margin-left: 0;
    width: 100%;
  }
  .payment-scnt .btn-cvr .payment-btn {
    width: 100%;
    min-width: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }
  .cart-item .otr .strong {
    width: auto;
    white-space: normal;
  }
  .cart-item .description {
    -webkit-box-flex: 1;
        -ms-flex: auto;
            flex: auto;
    max-width: 100%;
  }
  .cart-item .size-col {
    position: absolute;
    right: 10px;
    top: 0px;
  }
  .inner-grid-02 {
    margin-top: 25px;
    margin-left: 0;
  }
  .cart-item .qnty-btn-grp .control-btn {
    width: 29px;
    height: 29px;
  }
  .cart-item .delete-btn {
    width: 30px;
    height: 30px;
  }
  .cart-item .delete-btn img {
    width: 10px;
  }
}