@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");
.design-my-store footer .footer-outer {
  padding: 67px 0 40px;
  background: #1AB0CE;
  margin-top: 70px;
}
@media (max-width: 991px) {
  .design-my-store footer .footer-outer {
    padding: 24px 0 24px;
  }
}
.design-my-store footer .footer-outer .navbar-brand img {
  height: 65px;
}
@media (max-width: 1679px) {
  .design-my-store footer .footer-outer .navbar-brand img {
    height: 50px;
  }
}
@media (max-width: 767px) {
  .design-my-store footer .footer-outer .navbar-brand img {
    height: 46px;
  }
}
.design-my-store footer .footer-outer .ftr-content {
  padding: 15px 0 0;
  font-family: "DM Sans", sans-serif;
  letter-spacing: -0.2px;
  color: #ffffff;
  font-size: 22px;
  margin-bottom: 30px;
}
@media (max-width: 1679px) {
  .design-my-store footer .footer-outer .ftr-content {
    font-size: 19px;
    line-height: 27px;
  }
}
@media (max-width: 767px) {
  .design-my-store footer .footer-outer .ftr-content {
    font-size: 17px;
    line-height: 24px;
  }
}
@media (max-width: 500px) {
  .design-my-store footer .footer-outer .ftr-content {
    font-size: 15px;
    line-height: 20px;
  }
}
.design-my-store footer .footer-outer .footer-title {
  letter-spacing: -0.35px;
  color: #ffffff;
  font-family: "DM Sans", sans-serif;
  font-size: 30px;
  font-weight: normal;
  margin-bottom: 22px;
}
@media (max-width: 1679px) {
  .design-my-store footer .footer-outer .footer-title {
    font-size: 23px;
  }
}
@media (max-width: 500px) {
  .design-my-store footer .footer-outer .footer-title {
    font-size: 20px;
    margin-bottom: 16px;
  }
}
.design-my-store footer .footer-outer .footer-link {
  text-decoration: none;
  cursor: pointer;
}
.design-my-store footer .footer-outer .footer-links {
  padding-left: 0px;
}
@media (max-width: 991px) {
  .design-my-store footer .footer-outer .footer-links {
    margin-bottom: 20px;
  }
}
.design-my-store footer .footer-outer .footer-links li {
  list-style: none;
  margin-bottom: 22px;
}
@media (max-width: 1679px) {
  .design-my-store footer .footer-outer .footer-links li {
    margin-bottom: 15px;
  }
}
.design-my-store footer .footer-outer .footer-links p,
.design-my-store footer .footer-outer .footer-links a {
  font-family: "DM Sans", sans-serif;
  font-size: 22px;
  margin-bottom: 22px;
  font-weight: 300;
  letter-spacing: -0.17px;
  color: #fff !important;
}
@media (max-width: 1679px) {
  .design-my-store footer .footer-outer .footer-links p,
.design-my-store footer .footer-outer .footer-links a {
    font-size: 19px;
  }
}
@media (max-width: 767px) {
  .design-my-store footer .footer-outer .footer-links p,
.design-my-store footer .footer-outer .footer-links a {
    font-size: 17px;
    line-height: 24px;
  }
}
@media (max-width: 500px) {
  .design-my-store footer .footer-outer .footer-links p,
.design-my-store footer .footer-outer .footer-links a {
    font-size: 15px;
    line-height: 20px;
  }
}
.design-my-store footer .footer-outer .footer-link {
  font: normal normal normal 14px/26px "Roboto", sans-serif;
  letter-spacing: -0.17px;
  color: #302f2f;
}
.design-my-store footer .footer-outer .social-icons-outer {
  list-style: none;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.design-my-store footer .footer-outer .social-icons-outer li {
  margin-right: 10px;
  background: #0C9CB9;
  min-width: 41px;
  text-align: center;
  min-height: 41px;
  line-height: 37px;
  border-radius: 6px;
}
@media (max-width: 1679px) {
  .design-my-store footer .footer-outer .social-icons-outer li {
    min-width: 38px;
    text-align: center;
    min-height: 36px;
    line-height: 32px;
  }
}
.design-my-store footer .footer-outer .social-icons-outer li img {
  height: 20px;
}
@media (max-width: 1679px) {
  .design-my-store footer .footer-outer .social-icons-outer li img {
    height: 17px;
  }
}
.design-my-store .copy-right-cover {
  background: #0C9CB9;
}
.design-my-store .copy-right-cover .copy-right-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 15px 0px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 600px) {
  .design-my-store .copy-right-cover .copy-right-section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.design-my-store .copy-right-cover .copy-right-section .copy-rght-text {
  color: #fff;
  font-family: "DM Sans", sans-serif;
  font-size: 20px;
  font-weight: 200;
}
@media (max-width: 1679px) {
  .design-my-store .copy-right-cover .copy-right-section .copy-rght-text {
    font-size: 17px;
  }
}
@media (max-width: 600px) {
  .design-my-store .copy-right-cover .copy-right-section .copy-rght-text {
    margin-bottom: 11px;
  }
}
@media (max-width: 500px) {
  .design-my-store .copy-right-cover .copy-right-section .copy-rght-text {
    font-size: 15px;
  }
}
.design-my-store .copy-right-cover .copy-right-section .pay-img-section {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0;
}
.design-my-store .copy-right-cover .copy-right-section .pay-img-section li {
  margin-right: 5px;
}
.design-my-store .copy-right-cover .copy-right-section .pay-img-section li img {
  height: 35px;
}
@media (max-width: 1679px) {
  .design-my-store .copy-right-cover .copy-right-section .pay-img-section li img {
    height: 30px;
  }
}
@media (max-width: 500px) {
  .design-my-store .copy-right-cover .copy-right-section .pay-img-section li img {
    height: 26px;
  }
}

@media (max-width: 1679px) {
  .links-section, .contact-info {
    margin-top: 20px;
  }
}