@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");
.design-my-store header .btm-radius {
  border-radius: 0px 0px 46px 46px;
}
.design-my-store header .bg-light {
  background-color: #fff !important;
}
@media (min-width: 992px) {
  .design-my-store header .navbar-brand {
    margin-right: 190px;
  }
}
.design-my-store header .navbar-nav .nav-item {
  margin: 0 5px;
}
.design-my-store header .navbar-nav .nav-link {
  font: normal normal normal 14px/32px "DM Sans", sans-serif;
  color: #9CA0A8;
  opacity: 0.92;
  padding: 5px 15px !important;
  position: relative;
}
.design-my-store header .navbar-nav .nav-link:hover {
  color: #1AB0CE !important;
}
.design-my-store header .navbar-nav .active .nav-link {
  color: #1AB0CE !important;
}
@media (max-width: 767px) {
  .design-my-store header .notification {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
.design-my-store header .notification li {
  margin: 0 5px;
  position: relative;
}
.design-my-store header .notification li img {
  max-height: 19px;
}
.design-my-store header .notification li span {
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  color: #fff;
  background-color: #1AB0CE;
  right: 0px;
}
.design-my-store header .custom-sel-wrp {
  background-color: #F8F8F8;
  border: 1px solid #EFEFEF;
  border-radius: 5px;
  padding: 0 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 5px;
}
.design-my-store header .custom-sel-wrp:before {
  content: "";
  display: inline-block;
  background: url(../images/triple-line.svg) no-repeat center;
  width: 18px;
  height: 12px;
}
.design-my-store header .custom-sel-wrp .custom-select {
  border: none;
  background-color: transparent;
}
.design-my-store header .custom-sel-wrp .custom-select.header {
  max-width: 198px;
  width: 100%;
  background-image: url(../images/droparrow-down.svg);
}