@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");
.btn-shop {
  background-color: #EB3E32;
  border-radius: 33px;
  padding: 20px 85px 20px 40px;
  color: #fff;
  font-family: "DM Sans", sans-serif;
  letter-spacing: -0.75px;
  font-size: 22px;
  line-height: 1;
  position: relative;
}
.btn-shop::before {
  content: "";
  width: 20px;
  height: 13px;
  background-image: url(../images/arrow-round-forward.svg);
  position: absolute;
  top: 25px;
  right: 40px;
  background-size: contain;
  background-repeat: no-repeat;
}
.btn-shop:hover {
  color: #fff;
  opacity: 0.8;
}

.offer {
  padding-top: 100px;
}
.offer .offer-img {
  width: 100%;
}
.offer .offer-img img {
  max-width: 100%;
}
.offer .main-img-cnt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.offer .main-img-cnt .content-area {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 100px 0px 0px 100px;
}
.offer .main-img-cnt .content-area .heading {
  font-family: "DM Sans", sans-serif;
  color: #000000;
  font-size: 42px;
  line-height: normal;
  margin-bottom: 0px;
  font-weight: bold;
  letter-spacing: -1.43px;
}
.offer .main-img-cnt .content-area .p-content {
  font-family: "DM Sans", sans-serif;
  letter-spacing: -0.75px;
  color: #6A6B69;
  text-transform: capitalize;
  font-size: 22px;
  line-height: 1.5;
  margin-bottom: 50px;
}
.offer .main-img-cnt .content-area .btn-shop {
  font-family: "DM Sans", sans-serif;
}